Repository DNYoussef/AIVillage, changes with the owners that CODEOWNERS names for each.
All owners: @DNYoussef, @platform-team, @docs-team, @devops-team, @infrastructure-team, @ai-team, @research-team, @performance-team, @security-team, @frontend-team, @compliance-team, @qa-team, @identity-team, @legal-team, @data-team, @backend-team, @search-team, @knowledge-team, @agents-team, @domain-experts, @governance-team, @distributed-team, @coordination-team, @cognitive-team, @analytics-team, @integration-team, @p2p-team, @networking-team, @mobile-team, @protocol-team, @reliability-team, @api-team, @ui-team, @web-team, @android-team, @ios-team, @edge-team, @privacy-team, @dev-team, @validation-team, @architects, @process-team, @ux-team, @tokenomics-team, @economics-team, @compression-team, @monitoring-team, @rust-team, @python-team, @kubernetes-team, @architecture-team, @creativity-team

CODEOWNERS:

# AIVillage CODEOWNERS
# Each critical module requires â‰¥2 owners for bus factor mitigation
# Module owners are responsible for reviews, architecture decisions, and mentoring
# Format: path/pattern @owner1 @owner2 [additional-owners]

# ===========================
# Repository-wide ownership
# ===========================

# Root configuration and documentation
* @DNYoussef @platform-team
README.md @DNYoussef @platform-team @docs-team
CHANGELOG.md @DNYoussef @platform-team
LICENSE @DNYoussef
.gitignore @platform-team
.github/ @platform-team @devops-team

# ===========================
# Platform & Infrastructure
# ===========================

# Core platform infrastructure
/packages/core/ @platform-team @DNYoussef
/packages/core/common/ @platform-team @infrastructure-team
/packages/core/distributed_inference/ @platform-team @ai-team
/packages/core/experimental/ @platform-team @research-team
/packages/core/benchmarks/ @platform-team @performance-team

# Cost management and resource optimization
/packages/core/cost_management/ @platform-team @infrastructure-team
/packages/core/backup/ @platform-team @devops-team
/packages/core/compliance/ @platform-team @security-team

# Build and deployment infrastructure
/build/ @devops-team @platform-team
/bin/ @platform-team @devops-team
/deploy/ @devops-team @infrastructure-team
/clients/ @frontend-team @platform-team

# Configuration management
/config/ @platform-team @devops-team @security-team

# ===========================
# Security & Authentication
# ===========================

# Security infrastructure and policies
/packages/core/security/ @security-team @platform-team
/docs/security/ @security-team @compliance-team
/tests/security/ @security-team @qa-team

# Authentication and authorization
/packages/core/security/rbac/ @security-team @identity-team
/packages/core/security/auth/ @security-team @identity-team

# Compliance and audit
/packages/core/compliance/ @security-team @compliance-team @legal-team

# ===========================
# Data & Persistence
# ===========================

# Database and data management
/packages/core/data/ @data-team @backend-team
/packages/core/backup/ @data-team @devops-team

# Data processing and ETL
/packages/core/data_processing/ @data-team @ai-team

# Vector databases and search
/packages/rag/vector/ @data-team @search-team
/packages/rag/graph/ @data-team @knowledge-team

# ===========================
# AI Agents & Agent Forge
# ===========================

# Agent Forge pipeline and training
/packages/agent_forge/ @ai-team @agents-team
/packages/agent_forge/core/ @ai-team @platform-team
/packages/agent_forge/phases/ @ai-team @research-team
/packages/agent_forge/integration/ @ai-team @infrastructure-team

# Specialized agents
/packages/agents/ @agents-team @ai-team
/packages/agents/specialized/ @agents-team @domain-experts
/packages/agents/core/ @agents-team @platform-team
/packages/agents/governance/ @agents-team @governance-team
/packages/agents/distributed/ @agents-team @distributed-team

# Agent coordination and orchestration
/packages/agents/core/agent_orchestration_system.py @agents-team @coordination-team

# ===========================
# RAG & Knowledge Systems
# ===========================

# RAG system architecture
/packages/rag/ @knowledge-team @ai-team
/packages/rag/core/ @knowledge-team @platform-team
/packages/rag/memory/ @knowledge-team @cognitive-team

# Knowledge graphs and Bayesian networks
/packages/rag/graph/ @knowledge-team @data-team
/packages/rag/analysis/ @knowledge-team @analytics-team

# Distributed RAG coordination
/packages/rag/distributed/ @knowledge-team @distributed-team
/packages/rag/integration/ @knowledge-team @integration-team

# Creativity and insight engines
/packages/rag/creativity/ @knowledge-team @research-team

# ===========================
# P2P & Communications
# ===========================

# P2P transport layer
/packages/p2p/ @p2p-team @networking-team
/packages/p2p/core/ @p2p-team @platform-team
/packages/p2p/bitchat/ @p2p-team @mobile-team
/packages/p2p/betanet/ @p2p-team @security-team
/packages/p2p/bridges/ @p2p-team @integration-team

# Communication protocols
/packages/p2p/protocols/ @p2p-team @protocol-team

# Network reliability and failover
/packages/p2p/resilience/ @p2p-team @reliability-team

# ===========================
# API, Gateway & Twin Services
# ===========================

# API gateway and routing
/packages/core/api/ @api-team @backend-team
/packages/core/gateway/ @api-team @platform-team

# Twin service (AI interaction layer)
/packages/core/twin/ @api-team @ai-team

# OpenAPI specifications and documentation
/docs/api/ @api-team @docs-team
docs/api/openapi.yaml @api-team @integration-team

# Rate limiting and authentication
/packages/core/api/middleware/ @api-team @security-team

# ===========================
# Frontend & User Experience
# ===========================

# Web frontend
/clients/web/ @frontend-team @ui-team
/clients/typescript/ @frontend-team @web-team

# Mobile applications
/clients/mobile/ @mobile-team @frontend-team
/clients/mobile/android/ @mobile-team @android-team
/clients/mobile/ios/ @mobile-team @ios-team

# CLI tools and developer experience
/bin/ @frontend-team @devops-team
/clients/python/ @frontend-team @backend-team

# ===========================
# Edge Computing & Mobile
# ===========================

# Edge device management
/packages/edge/ @edge-team @infrastructure-team
/packages/edge/core/ @edge-team @platform-team
/packages/edge/mobile/ @edge-team @mobile-team
/packages/edge/fog_compute/ @edge-team @distributed-team

# Digital twin and personal AI
/packages/edge/mobile/digital_twin_concierge.py @edge-team @ai-team @privacy-team

# Resource management and optimization
/packages/edge/mobile/resource_manager.py @edge-team @mobile-team @performance-team

# ===========================
# Testing & Quality Assurance
# ===========================

# Test infrastructure and frameworks
/tests/ @qa-team @platform-team
/tests/unit/ @qa-team @dev-team
/tests/integration/ @qa-team @integration-team
/tests/e2e/ @qa-team @frontend-team

# Performance and benchmark tests
/tests/benchmarks/ @qa-team @performance-team
/tests/performance/ @qa-team @performance-team

# Security testing
/tests/security/ @qa-team @security-team

# Validation scripts
/tests/validation/ @qa-team @validation-team

# ===========================
# Documentation & Processes
# ===========================

# Architecture and technical documentation
/docs/ @docs-team @platform-team
/docs/architecture/ @docs-team @architects
/docs/development/ @docs-team @dev-team

# Process documentation
/docs/process/ @docs-team @process-team
docs/process/Definition_of_Done.md @docs-team @qa-team @platform-team
docs/process/Deprecation_Policy.md @docs-team @platform-team @api-team

# Operations and deployment documentation
/docs/operations/ @docs-team @devops-team
/docs/deployment/ @docs-team @devops-team

# User guides and tutorials
/docs/guides/ @docs-team @ux-team

# ===========================
# Specialized Components
# ===========================

# Tokenomics and governance
/packages/core/tokenomics/ @tokenomics-team @governance-team @economics-team

# Compression and optimization
/packages/core/compression/ @compression-team @performance-team @ai-team

# Monitoring and observability
/packages/core/monitoring/ @monitoring-team @devops-team @reliability-team

# Analytics and metrics
/packages/core/analytics/ @analytics-team @data-team

# ===========================
# Language-Specific Components
# ===========================

# Rust components (BetaNet, performance-critical)
/clients/rust/ @rust-team @p2p-team
crates/ @rust-team @performance-team

# Python core (majority of codebase)
*.py @python-team @platform-team

# TypeScript/JavaScript
*.ts *.js *.tsx *.jsx @frontend-team @web-team

# Configuration files
*.yaml *.yml *.json @devops-team @platform-team
*.toml @python-team @devops-team

# Docker and containerization
Dockerfile* @devops-team @infrastructure-team
docker-compose*.yml @devops-team @platform-team

# Kubernetes and orchestration
*.k8s.yaml @devops-team @kubernetes-team
/deploy/helm/ @devops-team @kubernetes-team

# ===========================
# Critical Security Files
# ===========================

# Security-sensitive configuration
.env* @security-team @devops-team
**/security.yaml @security-team @platform-team
**/auth.yaml @security-team @identity-team

# Compliance and audit trails
**/compliance/ @security-team @compliance-team @legal-team
**/audit/ @security-team @compliance-team

# ===========================
# Performance Critical Components
# ===========================

# High-performance inference
/packages/core/inference/ @performance-team @ai-team
/packages/core/distributed_inference/ @performance-team @distributed-team

# Compression pipelines
/packages/agent_forge/phases/bitnet_compression.py @compression-team @ai-team
/packages/agent_forge/phases/final_compression.py @compression-team @performance-team

# P2P network performance
/packages/p2p/core/transport_manager.py @performance-team @p2p-team

# ===========================
# Research & Experimental
# ===========================

# Research implementations
/packages/core/experimental/ @research-team @ai-team
/packages/agent_forge/phases/quietstar.py @research-team @cognitive-team

# Cutting-edge AI techniques
/packages/agent_forge/phases/adas.py @research-team @architecture-team
/packages/rag/creativity/ @research-team @creativity-team

# ===========================
# Team Definitions
# ===========================
# @DNYoussef - Project owner and lead architect
# @platform-team - Core platform and infrastructure
# @security-team - Security, compliance, and privacy
# @data-team - Data management and persistence
# @ai-team - AI/ML algorithms and models
# @agents-team - Specialized agents and coordination
# @knowledge-team - RAG systems and knowledge graphs
# @p2p-team - P2P networking and communications
# @api-team - APIs, gateways, and service interfaces
# @frontend-team - User interfaces and client applications
# @edge-team - Edge computing and mobile optimization
# @qa-team - Testing, validation, and quality assurance
# @docs-team - Documentation and technical writing
# @devops-team - Deployment, operations, and CI/CD
# @performance-team - Performance optimization and benchmarking
# @research-team - Research implementations and experimental features

# Additional specialized teams:
# @infrastructure-team, @mobile-team, @distributed-team, @integration-team
# @governance-team, @privacy-team, @compliance-team, @legal-team
# @rust-team, @python-team, @web-team, @kubernetes-team
# @monitoring-team, @analytics-team, @reliability-team
# @architects, @domain-experts, @process-team

updade the Readme and changelog
  CHANGELOG.md
  README.md
Owners: @DNYoussef, @platform-team, @docs-team

fix(ci): Fix GitHub Actions workflow failures - resolve paths, dependencies, and missing files
  .github/workflows/artifacts-collection.yml
  .github/workflows/main-ci.yml
  .github/workflows/scion_production.yml
Owners: @platform-team, @devops-team

fix(ci): Replace Unicode characters with ASCII equivalents in workflows and scripts
  .github/workflows/artifacts-collection.yml
  .github/workflows/main-ci.yml
  bin/hrrrm_report.py
  packages/p2p/betanet-bounty/crates/navigator/Cargo.toml
Owners: @platform-team, @devops-team, @python-team

fix(htx): Make HTX transport standalone with proper formatting
  packages/p2p/betanet-bounty/python/htx_transport.py
Owners: @python-team, @platform-team

fix(ci): Fix critical syntax errors and ruff command format issues
  .github/workflows/main-ci.yml
  bin/start_agent_forge.py
  tests/test_coverage_dashboard.py
  tests/test_dashboard_generator.py
  tests/test_mesh_network_comprehensive.py
  tests/unit/test_dashboard_generator.py
Owners: @platform-team, @devops-team, @python-team

fix(formatting): Apply pre-commit formatting fixes from previous commit
  tests/test_coverage_dashboard.py
  tests/test_dashboard_generator.py
  tests/test_mesh_network_comprehensive.py
  tests/unit/test_dashboard_generator.py
Owners: @python-team, @platform-team

feat(betanet-bounty): Complete BetaNet bounty implementation and consolidation - PRODUCTION READY
  deprecated/p2p_consolidation/20250818/src_core_p2p/betanet_cover.py
  deprecated/p2p_consolidation/20250818/src_core_p2p/betanet_covert_transport.py
  deprecated/p2p_consolidation/20250818/src_core_p2p/betanet_htx_transport.py
  deprecated/p2p_consolidation/20250818/src_core_p2p/betanet_link.py
  deprecated/p2p_consolidation/20250818/src_core_p2p/betanet_mixnet.py
  deprecated/p2p_consolidation/20250818/src_core_p2p/betanet_transport_shim.py
  deprecated/p2p_consolidation/20250818/src_core_p2p/betanet_transport_v2.py
  deprecated/p2p_consolidation/20250818/src_core_p2p/test_betanet_covert_transport.py
  packages/p2p/betanet-bounty/CONSOLIDATION_COMPLETE.md
  packages/p2p/betanet-bounty/bounty_artifacts/API_DOCUMENTATION.md
  packages/p2p/betanet-bounty/bounty_artifacts/BOUNTY_SUBMISSION_PACKAGE.md
  packages/p2p/betanet-bounty/bounty_artifacts/MIXNODE_PERFORMANCE.txt
  packages/p2p/betanet-bounty/bounty_artifacts/PERFORMANCE_BENCHMARKS.txt
  packages/p2p/betanet-bounty/bounty_artifacts/TEST_RESULTS.txt
  packages/p2p/betanet-bounty/python/__init__.py
  packages/p2p/betanet-bounty/python/covert_channels.py
  packages/p2p/betanet-bounty/python/htx_transport.py
  packages/p2p/betanet-bounty/python/mixnet_privacy.py
  packages/p2p/betanet-bounty/python/mobile_optimization.py
Owners: @python-team, @platform-team, @p2p-team, @networking-team

style: Apply automatic formatting improvements from pre-commit hooks
  packages/agents/core/base_agent_template.py
  packages/core/backup/backup_scheduler.py
  packages/core/compression/__init__.py
  packages/core/cost_management/cost_governance_dashboard.py
  packages/core/operations/artifact_collector.py
  packages/core/security/aivillage_rbac_integration.py
  packages/core/security/multi_tenant_manager.py
  packages/core/security/rbac_system.py
  packages/core/training/scripts/simple_train_hrrm.py
  packages/core/training/scripts/train_50m_hrrm.py
  packages/fog/edge/beacon.py
  packages/fog/gateway/api/jobs.py
  packages/fog/gateway/security/policy.py
  packages/rag/mcp_servers/hyperag/repair/llm_driver.py
  scripts/validation/validate_hrrm_models.py
  tests/integration/simple_integration_test.py
  tests/marketplace/test_comprehensive_marketplace.py
  tests/marketplace/test_edge_pricing.py
  tests/marketplace/test_final_marketplace_verification.py
  tests/marketplace/test_marketplace_simple.py
  tests/marketplace/test_pricing_simple.py
  tests/p2p/focused_p2p_test.py
Owners: @python-team, @platform-team

fix(ci): Remove non-existent config parameter from artifacts-collection workflow
  .github/workflows/artifacts-collection.yml
Owners: @platform-team, @devops-team

fix(ci): Complete Phase 1.3 - artifacts-collection workflow repair COMPLETE
  .github/workflows/artifacts-collection.yml
  .github/workflows/main-ci.yml
  .github/workflows/scion_production.yml
  scripts/operational/collect_artifacts.py
Owners: @platform-team, @devops-team, @python-team

fix(pre-commit): Remove ruff from pre-commit hooks to fix persistent failures
  .pre-commit-config.yaml
Owners: @DNYoussef, @platform-team

fix(ci): ACTUAL FIX - Correct ruff command arguments in main-ci.yml
  .github/workflows/main-ci.yml
Owners: @platform-team, @devops-team

fix(ci): Complete Phase 1.3 - artifacts-collection workflow repair COMPLETE
  .github/workflows/artifacts-collection.yml
  .github/workflows/main-ci.yml
  packages/core/benchmarks/hyperag_personalization.py
Owners: @platform-team, @devops-team, @python-team

fix(ci): Replace Unicode characters with ASCII equivalents in workflows and scripts
  .github/workflows/main-ci.yml
Owners: @platform-team, @devops-team

fix(htx): Make HTX transport standalone with proper formatting
  tools/linting/forbidden_checks.sh
Owners: @DNYoussef, @platform-team

fix(workflows): Complete GitHub Actions workflow fixes - All 3 workflows resolved
  .github/workflows/artifacts-collection.yml
  .github/workflows/main-ci.yml
  .github/workflows/scion_production.yml
  Cargo.toml
  config/requirements/requirements.txt
  packages/py-aivillage/agent_forge/evaluation/evaluator.py
  tests/compression/test_pytest_seedlm.py
Owners: @platform-team, @devops-team, @python-team, @security-team

feat(architecture): Complete BetaNet fog integration + Agent Forge evaluation system implementation
  .github/workflows/main-ci.yml
  .github/workflows/scion_production.yml
  .gitignore
  CHANGELOG.md
  Cargo.toml
  README.md
  TABLE_OF_CONTENTS.md
  docs/architecture/ARCHITECTURE.md
  packages/agent_forge/evaluation/__init__.py
  packages/agent_forge/evaluation/evaluator.py
  packages/fog/__init__.py
  packages/fog/bridges/__init__.py
  packages/fog/bridges/betanet_integration.py
  packages/fog/examples/betanet_fog_example.py
  packages/py-aivillage/agent_forge/evaluation/evaluator.py
  tests/compression/test_seedlm_fast.py
  tests/compression/test_seedlm_simple.py
  tests/test_imports.py
Owners: @platform-team, @devops-team, @DNYoussef, @python-team, @docs-team, @architects

Use monotonic time for last_activity
  packages/p2p/core/transport_manager.py
  tests/htx/test_transport.py
  tests/integration/test_real_agent_communication.py
Owners: @performance-team, @p2p-team, @python-team, @platform-team

refactor: replace numpy mean with statistics
  packages/rag/core/hyper_rag.py
  tests/integration/test_production_readiness.py
Owners: @python-team, @platform-team

refactor: move hyperrag example
  docs/guides/consolidated/RAG_SYSTEM_CONSOLIDATED_GUIDE.md
  examples/hyper_rag_example.py
  packages/rag/core/hyper_rag.py
Owners: @docs-team, @ux-team, @python-team, @platform-team

feat(p2p): use base64 payload encoding
  docs/CHANGELOG.md
  packages/p2p/core/message_types.py
Owners: @docs-team, @platform-team, @python-team

Add tests for UnifiedMessage chunk validation
  packages/p2p/core/message_types.py
  tests/unit/test_p2p_message_chunking.py
Owners: @python-team, @platform-team

Improve stub detection
  packages/monitoring/system_health_dashboard.py
  tests/test_system_health_scoring.py
  tests/unit/test_system_health_scoring.py
Owners: @python-team, @platform-team

feat: secure node registration and scheduler integration
  packages/fog/gateway/api/admin.py
Owners: @python-team, @platform-team

Implement MicroVM runner execution
  packages/fog/edge/runner.py
Owners: @python-team, @platform-team

Add shutdown load test for FogBurstOrchestrator
  packages/agent_forge/integration/fog_burst.py
  tests/integration/agent_forge/test_fog_burst_shutdown.py
Owners: @python-team, @platform-team

Use dataclass asdict for config serialization in fog burst
  packages/agent_forge/integration/fog_burst.py
Owners: @python-team, @platform-team

Test shutdown task cancellation
  packages/rag/integration/fog_rag_bridge.py
  tests/test_fog_rag_shutdown.py
Owners: @python-team, @platform-team

refactor: eliminate shell in deployment automation
  packages/core/deployment/continuous_deployment_automation.py
  tests/unit/core/test_continuous_deployment_automation.py
Owners: @python-team, @platform-team

refactor: secure import bridging
  packages/core/legacy/compatibility/bridge_system.py
  tests/unit/core/test_bridge_system.py
Owners: @python-team, @platform-team

Use env vars for credentials and add missing checks
  .env.example
  docs/deployment/README.md
  packages/core/experimental/agents/agents/utils/configuration.py
  packages/p2p/communications/credits_ledger.py
  packages/rag/mcp_servers/hyperag/mcp_server.py
  tests/test_credits_api.py
  tests/test_credits_ledger.py
  tests/test_missing_credentials.py
  tests/unit/test_credits_api.py
  tests/unit/test_credits_ledger.py
Owners: @security-team, @devops-team, @docs-team, @research-team, @ai-team, @python-team, @platform-team

Fix test imports
  packages/fog/gateway/api/jobs.py
  tests/unit/test_jobs_jwt.py
Owners: @python-team, @platform-team

Add tests for calculator tool
  packages/agent_forge/phases/tool_persona_baking.py
  tests/unit/test_calculator_tool.py
Owners: @python-team, @platform-team

test: add secure serializer type tests
  packages/core/legacy/security/secure_serializer.py
  tests/security/test_secure_serializer_types.py
Owners: @python-team, @platform-team

feat(ui): Complete UI package reorganization and import fixes
  packages/ui/App.tsx
  packages/ui/components/common/EncryptionBadge.tsx
  packages/ui/components/common/LoadingSpinner.tsx
  packages/ui/components/common/MessageBubble.tsx
  packages/ui/components/common/TypingIndicator.tsx
  packages/ui/components/concierge/DigitalTwinChat.css
  packages/ui/components/concierge/DigitalTwinChat.tsx
  packages/ui/components/dashboard/AgentStatusPanel.tsx
  packages/ui/components/dashboard/NetworkHealthPanel.tsx
  packages/ui/components/dashboard/SystemControlDashboard.tsx
  packages/ui/components/dashboard/SystemMetricsPanel.tsx
  packages/ui/components/media/AudioPlayer.tsx
  packages/ui/components/media/FullscreenView.tsx
  packages/ui/components/media/ImageViewer.tsx
  packages/ui/components/media/MediaControls.tsx
  packages/ui/components/media/MediaDisplayEngine.tsx
  packages/ui/components/media/TextViewer.tsx
  packages/ui/components/media/VideoPlayer.tsx
  packages/ui/components/messaging/BitChatInterface.tsx
  packages/ui/components/messaging/ConversationView.tsx
  packages/ui/components/messaging/NetworkStatus.tsx
  packages/ui/components/messaging/PeerList.tsx
  packages/ui/components/wallet/ComputeCreditsWallet.tsx
  packages/ui/components/wallet/CreditEarningTips.tsx
  packages/ui/components/wallet/FogContributions.tsx
  packages/ui/components/wallet/TransactionHistory.tsx
  packages/ui/components/wallet/WalletChart.tsx
  packages/ui/hooks/useBitChatService.ts
  packages/ui/hooks/useConciergeService.ts
  packages/ui/hooks/useMediaService.ts
  packages/ui/hooks/useSystemService.ts
  packages/ui/hooks/useWalletService.ts
  packages/ui/services/apiService.ts
  packages/ui/types/index.ts
  packages/ui/utils/formatters.ts
  packages/ui/utils/messageUtils.ts
  packages/ui/utils/validation.ts
  packages/ui/vite.config.ts
Owners: @DNYoussef, @platform-team

feat: Add comprehensive UI testing infrastructure and RAG integration improvements
  .gitignore
  .hive-mind/hive.db-shm
  .hive-mind/hive.db-wal
  packages/rag/integration/__init__.py
  packages/rag/integration/fog_compute_bridge.py
  packages/rag/integration/fog_rag_bridge.py
  packages/ui/App.test.tsx
  packages/ui/components/dashboard/SystemMetricsPanel.test.tsx
  packages/ui/components/messaging/BitChatInterface.test.tsx
  packages/ui/components/wallet/ComputeCreditsWallet.test.tsx
  packages/ui/jest.config.js
  packages/ui/jest.setup.js
Owners: @platform-team, @DNYoussef, @python-team

feat(ui): Add comprehensive UI component library and fix all test failures
  packages/agents/core/base.py
  packages/core/legacy/database/migrations.py
  packages/ui/.eslintrc.js
  packages/ui/App.test.tsx
  packages/ui/components/dashboard/AlertsPanel.css
  packages/ui/components/dashboard/AlertsPanel.tsx
  packages/ui/components/dashboard/FogNetworkPanel.css
  packages/ui/components/dashboard/FogNetworkPanel.tsx
  packages/ui/components/dashboard/NetworkTopologyView.css
  packages/ui/components/dashboard/NetworkTopologyView.tsx
  packages/ui/components/dashboard/QuickActionsPanel.css
  packages/ui/components/dashboard/QuickActionsPanel.tsx
  packages/ui/components/dashboard/SystemMetricsPanel.css
  packages/ui/components/dashboard/SystemMetricsPanel.test.tsx
  packages/ui/components/messaging/BitChatInterface.test.tsx
  packages/ui/components/messaging/BitChatInterface.tsx
  packages/ui/components/messaging/ConversationView.tsx
  packages/ui/components/messaging/NetworkStatus.tsx
  packages/ui/components/messaging/PeerList.tsx
  packages/ui/components/wallet/ComputeCreditsWallet.test.tsx
  packages/ui/components/wallet/ComputeCreditsWallet.tsx
  packages/ui/components/wallet/CreditEarningTips.tsx
  packages/ui/components/wallet/FogContributions.tsx
  packages/ui/components/wallet/TransactionHistory.tsx
  packages/ui/components/wallet/WalletChart.tsx
  packages/ui/jest.setup.js
  packages/ui/tsconfig.json
Owners: @python-team, @platform-team, @DNYoussef

feat(api): Implement AIVillage API services with digital twin encryption
  packages/api/start_api_servers.py
  packages/core/__init__.py
  packages/core/security/__init__.py
  packages/core/security/digital_twin_encryption.py
  packages/ui/vite.config.ts
Owners: @python-team, @platform-team, @DNYoussef

feat(ci): Integrate architectural fitness functions into CI/CD pipeline
  .github/workflows/architectural-quality.yml
  .pre-commit-config.yaml
  docs/QUALITY_GATES.md
  scripts/check_circular_deps.py
  scripts/ci/god-object-detector.py
  scripts/ci/magic-literal-detector.py
  scripts/ci/quality-gate.py
  scripts/ci/quality-report-generator.py
  scripts/ci/update-quality-history.py
Owners: @platform-team, @devops-team, @DNYoussef, @docs-team, @python-team

fix(ci): Apply pre-commit fixes and add missing path arguments
  .github/workflows/architectural-quality.yml
  .github/workflows/main-ci.yml
  config/requirements/requirements.txt
  ops/bench/run_bench.sh
  scripts/architectural_fitness_functions.py
  scripts/magic_literal_analyzer.py
  tools/linting/forbidden_checks.sh
  tools/sbom/generate_sbom.py
  tools/security/deny_insecure.rs
Owners: @platform-team, @devops-team, @security-team, @DNYoussef, @python-team
