Repository DNYoussef/AIVillage, changes with the owners that CODEOWNERS names for each.
All owners: @DNYoussef, @platform-team, @docs-team, @devops-team, @infrastructure-team, @ai-team, @research-team, @performance-team, @security-team, @frontend-team, @compliance-team, @qa-team, @identity-team, @legal-team, @data-team, @backend-team, @search-team, @knowledge-team, @agents-team, @domain-experts, @governance-team, @distributed-team, @coordination-team, @cognitive-team, @analytics-team, @integration-team, @p2p-team, @networking-team, @mobile-team, @protocol-team, @reliability-team, @api-team, @ui-team, @web-team, @android-team, @ios-team, @edge-team, @privacy-team, @dev-team, @validation-team, @architects, @process-team, @ux-team, @tokenomics-team, @economics-team, @compression-team, @monitoring-team, @rust-team, @python-team, @kubernetes-team, @architecture-team, @creativity-team

feat: Complete CI/CD placeholder validation recovery with systematic fixes
  .github/workflows/scion-gateway-ci.yml
  ROLLBACK_LESSONS_LEARNED.md
  infrastructure/shared/tools/development_quality_validator.py
  integrations/clients/rust/betanet/betanet-gateway/build.rs
  integrations/clients/rust/scion-sidecar/Makefile
  scripts/validate_incremental_fixes.sh
Owners: @platform-team, @devops-team, @DNYoussef, @python-team

fix: Complete SCION resilience pipeline fixes with protobuf tools and PATH setup
  .github/workflows/main-ci.yml
  .github/workflows/scion-gateway-ci.yml
  .github/workflows/scion-gateway-resilient.yml
Owners: @platform-team, @devops-team

fix: Add timeouts to security pre-flight to prevent 14-minute hangs
  .github/workflows/scion_production.yml
Owners: @platform-team, @devops-team

fix: Resolve all 7 failing CI/CD checks through comprehensive analysis and targeted fixes
  docs/reports/CI_CD_FAILURE_ANALYSIS_AND_FIXES.md
  docs/reports/CI_CD_FAILURE_ROOT_CAUSE_ANALYSIS.md
  docs/reports/SCION_BUILD_FAILURE_ANALYSIS.md
  docs/reports/SECRET_SANITIZATION_REPORT.md
  docs/reports/SYSTEM_LEVEL_INTEGRATION_ANALYSIS.md
  docs/reports/secret_sanitization_validation.json
  integrations/clients/rust/scion-sidecar/Makefile
  proto/betanet_gateway.proto
  scripts/validate_placeholders.sh
  scripts/validate_secret_sanitization.py
Owners: @docs-team, @platform-team, @DNYoussef, @python-team

fix: Resolve systemic CI/CD failures - fix workflow-embedded validation logic
  .github/workflows/main-ci.yml
  .github/workflows/scion-gateway-ci.yml
  docs/CI_CD_FAILURE_ANALYSIS.md
  docs/CI_CD_SYSTEMIC_FAILURE_ANALYSIS.md
  proto/betanet_gateway.proto
Owners: @platform-team, @devops-team, @docs-team, @DNYoussef

fix: Complete CI/CD resolution - final fix for all 4 remaining failures
  .github/workflows/main-ci.yml
  .github/workflows/scion-gateway-ci.yml
  .github/workflows/scion_production.yml
Owners: @platform-team, @devops-team

fix: Resolve all 4 persistent CI/CD failures through targeted MCP-enhanced analysis
  .github/workflows/main-ci.yml
  .github/workflows/scion-gateway-ci.yml
  .github/workflows/scion_production.yml
  scripts/validate_secret_sanitization.py
Owners: @platform-team, @devops-team, @python-team

fix: EMERGENCY - Resolve syntax error and add missing exclusions for CI/CD failures
  .github/workflows/main-ci.yml
  .github/workflows/scion-gateway-ci.yml
  scripts/validate_secret_sanitization.py
Owners: @platform-team, @devops-team, @python-team

fix: Complete CI/CD resolution - final fix for all 4 remaining failures
  .github/workflows/main-ci.yml
  .github/workflows/scion-gateway-ci.yml
  .github/workflows/scion_production.yml
  core/agent-forge/core/unified_pipeline.py
Owners: @platform-team, @devops-team, @python-team

fix: Add security performance optimizations and comprehensive testing
  bash.exe.stackdump
  scripts/validate_secret_sanitization.py
  tests/test_security_performance_optimization.py
Owners: @DNYoussef, @platform-team, @python-team

test: verify gate defaults
  .github/workflows/gate-integration-tests.yml
  .github/workflows/scion_production.yml
  tests/workflow_test/test_gate_missing_outputs.py
Owners: @platform-team, @devops-team, @python-team

feat: optimize secret validation and workflow
  .github/workflows/scion_production.yml
  scripts/validate_secret_sanitization.py
Owners: @platform-team, @devops-team, @python-team

feat: refine placeholder detection
  scripts/validate_no_placeholders.sh
  tests/test_validate_no_placeholders.py
Owners: @DNYoussef, @platform-team, @python-team

Sanitize demo passwords and update secrets baseline
  .secrets.baseline
  core/decentralized_architecture/unified_digital_twin_system.py
  infrastructure/shared/security/demo_rbac_integration.py
  infrastructure/shared/tools/security/test_security_standalone.py
Owners: @DNYoussef, @platform-team, @python-team

Refine placeholders and improve metrics
  apps/web/package-lock.json
  apps/web/package.json
  core/agents/distributed/meta_agent_sharding_coordinator.py
  core/agents/social_agent.py
  examples/distributed/meta_agent_sharding_coordinator_demo.py
  infrastructure/performance/optimization/database_optimizer.py
  scripts/validate_no_placeholders.sh
Owners: @DNYoussef, @platform-team, @python-team

chore: remove pycache artifacts
  benchmarks/agent_forge/benchmark_unified_compression.py
  config/linting/security_linting_manager.py
  config/linting/unified_linting_manager.py
  core/agent_forge/benchmarks/benchmark_unified_compression.py
  core/agent_forge/models/hrrm/reasoner/scratchpad.py
  core/agent_forge/models/hrrm/scripts/build_tokenizer.py
  core/agent_forge/phases/cognate_pretrain/real_pretraining_pipeline.py
  core/agent_forge/phases/evomerge.py
  core/agent_forge/phases/quietstar.py
  core/decentralized_architecture/unified_agent_forge_system.py
  core/decentralized_architecture/unified_dao_tokenomics_system.py
  core/decentralized_architecture/unified_digital_twin_system.py
  core/domain/security_constants.py
  core/rag/mcp_servers/hyperag/memory/hypergraph_kg.py
  examples/fog/sdk_usage_example.py
  examples/sdk_usage_example.py
  experiments/agents/agents/navigator/services/dtn_handler_service.py
  infrastructure/fog/tee/enclave_executor.py
  infrastructure/fog/testing/chaos_tester.py
  infrastructure/fog/vrf/vrf_discovery.py
  infrastructure/gateway/server.py
  infrastructure/p2p/tools/test_runner.py
  infrastructure/performance/optimization/database_optimizer.py
  infrastructure/shared/backup/constants.py
  infrastructure/shared/benchmarks/benchmark_unified_compression.py
  infrastructure/shared/security/constants.py
  infrastructure/twin/config/configuration_manager.py
  packages/p2p/core/nat_traversal.py
  pyproject.toml
  scripts/ci/security-integration-validator.py
  scripts/ci_pipeline_analyzer.py
  scripts/deployment_rollback_strategy.py
  scripts/production_linting_validator.py
  src/monitoring/platform_validator.py
  src/unified_rag/core/unified_rag_system.py
  tests/__pycache__/__init__.cpython-311.pyc
  tests/__pycache__/conftest.cpython-311-pytest-8.4.1.pyc
  tests/security/unit/test_federated_auth_system.py
  tests/test_connascence_refactoring.py
Owners: @python-team, @platform-team, @devops-team, @qa-team

chore: resolve security annotation conflict
  core/decentralized_architecture/unified_digital_twin_system.py
Owners: @python-team, @platform-team

Consolidate RAG modules into unified implementation
  core/rag/cognitive_nexus.py
  core/rag/core/cognitive_nexus.py
  core/rag/graph/bayesian_trust_graph.py
  core/rag/memory/__init__.py
  core/rag/memory/hippo_index.py
  core/rag/retrieval/graph/__init__.py
  core/rag/retrieval/vector/__init__.py
  core/rag/unified_rag_system.py
  core/rag/vector/__init__.py
  core/rag/vector/contextual_vector_engine.py
  docs/unified_rag_module_structure.md
  src/unified_rag/cognitive/cognitive_nexus.py
  src/unified_rag/graph/bayesian_knowledge_graph.py
  src/unified_rag/memory/hippo_memory_system.py
  src/unified_rag/vector/dual_context_vector.py
  tests/production/knowledge/test_hyper_rag_integration.py
  tests/rag/test_consolidated_rag_integration.py
Owners: @python-team, @platform-team, @docs-team

Add RAG CLI tool for ingestion, querying, and gap detection
  scripts/rag_cli.py
Owners: @python-team, @platform-team

Add creative search context to rag CLI
  scripts/rag_cli.py
Owners: @python-team, @platform-team

feat: add HippoCache retrieval caching
  src/unified_rag/core/unified_rag_system.py
Owners: @python-team, @platform-team

docs: add creative search and gap detection guide
  docs/README.md
  docs/rag/creative_search_and_gap_detection.md
  docs/unified_rag_module_structure.md
Owners: @docs-team, @platform-team

chore: revert pyc artifacts
  src/unified_rag/__init__.py
  src/unified_rag/core/unified_rag_system.py
Owners: @python-team, @platform-team

docs: add hippo cache guide
  docs/README.md
  docs/rag/hippo_cache.md
  docs/unified_rag_module_structure.md
Owners: @docs-team, @platform-team

fix: correct detect-secrets line continuations
  .github/workflows/scion_production.yml
Owners: @platform-team, @devops-team

Increase detect-secrets scan timeout
  .github/workflows/scion_production.yml
  scripts/security/adjust_workflow_timeouts.py
Owners: @platform-team, @devops-team, @python-team

Exclude large generated directories from secret scan
  .secrets.baseline
Owners: @DNYoussef, @platform-team

chore: update secret detection timeout message
  .github/workflows/scion_production.yml
Owners: @platform-team, @devops-team

Update detect-secrets version and baseline
  .secrets.baseline
  config/constraints.txt
Owners: @DNYoussef, @platform-team, @devops-team, @security-team

Temporarily disable unstable Rust tests
  integrations/bounties/betanet/Cargo.toml
  integrations/bounties/betanet/crates/agent-fabric/Cargo.toml
  integrations/bounties/betanet/crates/betanet-dtn/src/test_plaintext_guard.rs
  integrations/bounties/betanet/crates/betanet-htx/Cargo.toml
  integrations/bounties/betanet/crates/betanet-linter/Cargo.toml
  integrations/bounties/betanet/crates/federated/Cargo.toml
  integrations/bounties/betanet/crates/federated/src/fedavg_secureagg.rs
  integrations/bounties/betanet/crates/federated/src/lib.rs
  integrations/bounties/betanet/crates/federated/src/orchestrator.rs
  integrations/bounties/betanet/crates/twin-vault/Cargo.toml
Owners: @python-team, @devops-team, @rust-team, @performance-team

feat: expose internal Cogment states in HF wrapper
  core/agent_forge/integration/cogment/hf_export.py
  tests/cogment/test_hf_wrapper_outputs.py
Owners: @python-team, @platform-team

Add fingerprint calibration logic and test
  infrastructure/shared/tools/betanet/calibrate_fingerprint.rs
  tests/test_calibrate_fingerprint_rs.py
Owners: @DNYoussef, @platform-team, @python-team

feat: enhance cross-node optimizer
  infrastructure/distributed_inference/core/cross_node_optimizer.py
  tests/distributed_inference/test_cross_node_optimizer.py
Owners: @python-team, @platform-team

Add tests for edge integrations
  infrastructure/edge/__init__.py
  tests/edge/test_edge_integrations.py
Owners: @python-team, @platform-team

test: verify dashboard reports p2p metrics
  infrastructure/optimization/dashboard_integration.py
  tests/unit/dashboard/test_p2p_metrics.py
Owners: @python-team, @platform-team

fix: refine placeholder validation and remove placeholder text
  apps/web/components/wallet/CreditEarningTips.tsx
  apps/web/components/wallet/WalletChart.tsx
  config/cogment/config_validation.py
  config/compression.yaml
  config/enhanced-eslint-config.js
  scripts/validate_no_placeholders.sh
  ui/web/src/components/wallet/CreditEarningTips.tsx
  ui/web/src/components/wallet/WalletChart.tsx
Owners: @DNYoussef, @platform-team, @python-team, @devops-team, @security-team

chore: encode placeholder patterns
  ci_validation_simulation.sh
Owners: @DNYoussef, @platform-team

chore: remove NOTE placeholder pattern
  scripts/validate_placeholders.sh
Owners: @DNYoussef, @platform-team

feat: compute KPI scores from runtime data
  integrations/clients/rust/betanet/betanet-client/src/metrics/kpi_metrics.rs
Owners: @DNYoussef, @platform-team

Add configurable metrics and real endpoint for Betanet v2 tests
  integrations/clients/rust/betanet/betanet-client/src/integration/betanet_v2_integration.rs
Owners: @DNYoussef, @platform-team

CODEOWNERS:

# AIVillage CODEOWNERS
# Each critical module requires â‰¥2 owners for bus factor mitigation
# Module owners are responsible for reviews, architecture decisions, and mentoring
# Format: path/pattern @owner1 @owner2 [additional-owners]

# ===========================
# Repository-wide ownership
# ===========================

# Root configuration and documentation
* @DNYoussef @platform-team
README.md @DNYoussef @platform-team @docs-team
CHANGELOG.md @DNYoussef @platform-team
LICENSE @DNYoussef
.gitignore @platform-team
.github/ @platform-team @devops-team

# ===========================
# Platform & Infrastructure
# ===========================

# Core platform infrastructure
/packages/core/ @platform-team @DNYoussef
/packages/core/common/ @platform-team @infrastructure-team
/packages/core/distributed_inference/ @platform-team @ai-team
/packages/core/experimental/ @platform-team @research-team
/packages/core/benchmarks/ @platform-team @performance-team

# Cost management and resource optimization
/packages/core/cost_management/ @platform-team @infrastructure-team
/packages/core/backup/ @platform-team @devops-team
/packages/core/compliance/ @platform-team @security-team

# Build and deployment infrastructure
/build/ @devops-team @platform-team
/bin/ @platform-team @devops-team
/deploy/ @devops-team @infrastructure-team
/clients/ @frontend-team @platform-team

# Configuration management
/config/ @platform-team @devops-team @security-team

# ===========================
# Security & Authentication
# ===========================

# Security infrastructure and policies
/packages/core/security/ @security-team @platform-team
/docs/security/ @security-team @compliance-team
/tests/security/ @security-team @qa-team

# Authentication and authorization
/packages/core/security/rbac/ @security-team @identity-team
/packages/core/security/auth/ @security-team @identity-team

# Compliance and audit
/packages/core/compliance/ @security-team @compliance-team @legal-team

# ===========================
# Data & Persistence
# ===========================

# Database and data management
/packages/core/data/ @data-team @backend-team
/packages/core/backup/ @data-team @devops-team

# Data processing and ETL
/packages/core/data_processing/ @data-team @ai-team

# Vector databases and search
/packages/rag/vector/ @data-team @search-team
/packages/rag/graph/ @data-team @knowledge-team

# ===========================
# AI Agents & Agent Forge
# ===========================

# Agent Forge pipeline and training
/packages/agent_forge/ @ai-team @agents-team
/packages/agent_forge/core/ @ai-team @platform-team
/packages/agent_forge/phases/ @ai-team @research-team
/packages/agent_forge/integration/ @ai-team @infrastructure-team

# Specialized agents
/packages/agents/ @agents-team @ai-team
/packages/agents/specialized/ @agents-team @domain-experts
/packages/agents/core/ @agents-team @platform-team
/packages/agents/governance/ @agents-team @governance-team
/packages/agents/distributed/ @agents-team @distributed-team

# Agent coordination and orchestration
/packages/agents/core/agent_orchestration_system.py @agents-team @coordination-team

# ===========================
# RAG & Knowledge Systems
# ===========================

# RAG system architecture
/packages/rag/ @knowledge-team @ai-team
/packages/rag/core/ @knowledge-team @platform-team
/packages/rag/memory/ @knowledge-team @cognitive-team

# Knowledge graphs and Bayesian networks
/packages/rag/graph/ @knowledge-team @data-team
/packages/rag/analysis/ @knowledge-team @analytics-team

# Distributed RAG coordination
/packages/rag/distributed/ @knowledge-team @distributed-team
/packages/rag/integration/ @knowledge-team @integration-team

# Creativity and insight engines
/packages/rag/creativity/ @knowledge-team @research-team

# ===========================
# P2P & Communications
# ===========================

# P2P transport layer
/packages/p2p/ @p2p-team @networking-team
/packages/p2p/core/ @p2p-team @platform-team
/packages/p2p/bitchat/ @p2p-team @mobile-team
/packages/p2p/betanet/ @p2p-team @security-team
/packages/p2p/bridges/ @p2p-team @integration-team

# Communication protocols
/packages/p2p/protocols/ @p2p-team @protocol-team

# Network reliability and failover
/packages/p2p/resilience/ @p2p-team @reliability-team

# ===========================
# API, Gateway & Twin Services
# ===========================

# API gateway and routing
/packages/core/api/ @api-team @backend-team
/packages/core/gateway/ @api-team @platform-team

# Twin service (AI interaction layer)
/packages/core/twin/ @api-team @ai-team

# OpenAPI specifications and documentation
/docs/api/ @api-team @docs-team
docs/api/openapi.yaml @api-team @integration-team

# Rate limiting and authentication
/packages/core/api/middleware/ @api-team @security-team

# ===========================
# Frontend & User Experience
# ===========================

# Web frontend
/clients/web/ @frontend-team @ui-team
/clients/typescript/ @frontend-team @web-team

# Mobile applications
/clients/mobile/ @mobile-team @frontend-team
/clients/mobile/android/ @mobile-team @android-team
/clients/mobile/ios/ @mobile-team @ios-team

# CLI tools and developer experience
/bin/ @frontend-team @devops-team
/clients/python/ @frontend-team @backend-team

# ===========================
# Edge Computing & Mobile
# ===========================

# Edge device management
/packages/edge/ @edge-team @infrastructure-team
/packages/edge/core/ @edge-team @platform-team
/packages/edge/mobile/ @edge-team @mobile-team
/packages/edge/fog_compute/ @edge-team @distributed-team

# Digital twin and personal AI
/packages/edge/mobile/digital_twin_concierge.py @edge-team @ai-team @privacy-team

# Resource management and optimization
/packages/edge/mobile/resource_manager.py @edge-team @mobile-team @performance-team

# ===========================
# Testing & Quality Assurance
# ===========================

# Test infrastructure and frameworks
/tests/ @qa-team @platform-team
/tests/unit/ @qa-team @dev-team
/tests/integration/ @qa-team @integration-team
/tests/e2e/ @qa-team @frontend-team

# Performance and benchmark tests
/tests/benchmarks/ @qa-team @performance-team
/tests/performance/ @qa-team @performance-team

# Security testing
/tests/security/ @qa-team @security-team

# Validation scripts
/tests/validation/ @qa-team @validation-team

# ===========================
# Documentation & Processes
# ===========================

# Architecture and technical documentation
/docs/ @docs-team @platform-team
/docs/architecture/ @docs-team @architects
/docs/development/ @docs-team @dev-team

# Process documentation
/docs/process/ @docs-team @process-team
docs/process/Definition_of_Done.md @docs-team @qa-team @platform-team
docs/process/Deprecation_Policy.md @docs-team @platform-team @api-team

# Operations and deployment documentation
/docs/operations/ @docs-team @devops-team
/docs/deployment/ @docs-team @devops-team

# User guides and tutorials
/docs/guides/ @docs-team @ux-team

# ===========================
# Specialized Components
# ===========================

# Tokenomics and governance
/packages/core/tokenomics/ @tokenomics-team @governance-team @economics-team

# Compression and optimization
/packages/core/compression/ @compression-team @performance-team @ai-team

# Monitoring and observability
/packages/core/monitoring/ @monitoring-team @devops-team @reliability-team

# Analytics and metrics
/packages/core/analytics/ @analytics-team @data-team

# ===========================
# Language-Specific Components
# ===========================

# Rust components (BetaNet, performance-critical)
/clients/rust/ @rust-team @p2p-team
crates/ @rust-team @performance-team

# Python core (majority of codebase)
*.py @python-team @platform-team

# TypeScript/JavaScript
*.ts *.js *.tsx *.jsx @frontend-team @web-team

# Configuration files
*.yaml *.yml *.json @devops-team @platform-team
*.toml @python-team @devops-team

# Docker and containerization
Dockerfile* @devops-team @infrastructure-team
docker-compose*.yml @devops-team @platform-team

# Kubernetes and orchestration
*.k8s.yaml @devops-team @kubernetes-team
/deploy/helm/ @devops-team @kubernetes-team

# ===========================
# Critical Security Files
# ===========================

# Security-sensitive configuration
.env* @security-team @devops-team
**/security.yaml @security-team @platform-team
**/auth.yaml @security-team @identity-team

# Compliance and audit trails
**/compliance/ @security-team @compliance-team @legal-team
**/audit/ @security-team @compliance-team

# ===========================
# Performance Critical Components
# ===========================

# High-performance inference
/packages/core/inference/ @performance-team @ai-team
/packages/core/distributed_inference/ @performance-team @distributed-team

# Compression pipelines
/packages/agent_forge/phases/bitnet_compression.py @compression-team @ai-team
/packages/agent_forge/phases/final_compression.py @compression-team @performance-team

# P2P network performance
/packages/p2p/core/transport_manager.py @performance-team @p2p-team

# ===========================
# Research & Experimental
# ===========================

# Research implementations
/packages/core/experimental/ @research-team @ai-team
/packages/agent_forge/phases/quietstar.py @research-team @cognitive-team

# Cutting-edge AI techniques
/packages/agent_forge/phases/adas.py @research-team @architecture-team
/packages/rag/creativity/ @research-team @creativity-team

# ===========================
# Team Definitions
# ===========================
# @DNYoussef - Project owner and lead architect
# @platform-team - Core platform and infrastructure
# @security-team - Security, compliance, and privacy
# @data-team - Data management and persistence
# @ai-team - AI/ML algorithms and models
# @agents-team - Specialized agents and coordination
# @knowledge-team - RAG systems and knowledge graphs
# @p2p-team - P2P networking and communications
# @api-team - APIs, gateways, and service interfaces
# @frontend-team - User interfaces and client applications
# @edge-team - Edge computing and mobile optimization
# @qa-team - Testing, validation, and quality assurance
# @docs-team - Documentation and technical writing
# @devops-team - Deployment, operations, and CI/CD
# @performance-team - Performance optimization and benchmarking
# @research-team - Research implementations and experimental features

# Additional specialized teams:
# @infrastructure-team, @mobile-team, @distributed-team, @integration-team
# @governance-team, @privacy-team, @compliance-team, @legal-team
# @rust-team, @python-team, @web-team, @kubernetes-team
# @monitoring-team, @analytics-team, @reliability-team
# @architects, @domain-experts, @process-team
