Repository DNYoussef/AIVillage, changes with the owners that CODEOWNERS names for each.
All owners: @DNYoussef, @platform-team, @docs-team, @devops-team, @infrastructure-team, @ai-team, @research-team, @performance-team, @security-team, @frontend-team, @compliance-team, @qa-team, @identity-team, @legal-team, @data-team, @backend-team, @search-team, @knowledge-team, @agents-team, @domain-experts, @governance-team, @distributed-team, @coordination-team, @cognitive-team, @analytics-team, @integration-team, @p2p-team, @networking-team, @mobile-team, @protocol-team, @reliability-team, @api-team, @ui-team, @web-team, @android-team, @ios-team, @edge-team, @privacy-team, @dev-team, @validation-team, @architects, @process-team, @ux-team, @tokenomics-team, @economics-team, @compression-team, @monitoring-team, @rust-team, @python-team, @kubernetes-team, @architecture-team, @creativity-team

CODEOWNERS:

# AIVillage CODEOWNERS
# Each critical module requires â‰¥2 owners for bus factor mitigation
# Module owners are responsible for reviews, architecture decisions, and mentoring
# Format: path/pattern @owner1 @owner2 [additional-owners]

# ===========================
# Repository-wide ownership
# ===========================

# Root configuration and documentation
* @DNYoussef @platform-team
README.md @DNYoussef @platform-team @docs-team
CHANGELOG.md @DNYoussef @platform-team
LICENSE @DNYoussef
.gitignore @platform-team
.github/ @platform-team @devops-team

# ===========================
# Platform & Infrastructure
# ===========================

# Core platform infrastructure
/packages/core/ @platform-team @DNYoussef
/packages/core/common/ @platform-team @infrastructure-team
/packages/core/distributed_inference/ @platform-team @ai-team
/packages/core/experimental/ @platform-team @research-team
/packages/core/benchmarks/ @platform-team @performance-team

# Cost management and resource optimization
/packages/core/cost_management/ @platform-team @infrastructure-team
/packages/core/backup/ @platform-team @devops-team
/packages/core/compliance/ @platform-team @security-team

# Build and deployment infrastructure
/build/ @devops-team @platform-team
/bin/ @platform-team @devops-team
/deploy/ @devops-team @infrastructure-team
/clients/ @frontend-team @platform-team

# Configuration management
/config/ @platform-team @devops-team @security-team

# ===========================
# Security & Authentication
# ===========================

# Security infrastructure and policies
/packages/core/security/ @security-team @platform-team
/docs/security/ @security-team @compliance-team
/tests/security/ @security-team @qa-team

# Authentication and authorization
/packages/core/security/rbac/ @security-team @identity-team
/packages/core/security/auth/ @security-team @identity-team

# Compliance and audit
/packages/core/compliance/ @security-team @compliance-team @legal-team

# ===========================
# Data & Persistence
# ===========================

# Database and data management
/packages/core/data/ @data-team @backend-team
/packages/core/backup/ @data-team @devops-team

# Data processing and ETL
/packages/core/data_processing/ @data-team @ai-team

# Vector databases and search
/packages/rag/vector/ @data-team @search-team
/packages/rag/graph/ @data-team @knowledge-team

# ===========================
# AI Agents & Agent Forge
# ===========================

# Agent Forge pipeline and training
/packages/agent_forge/ @ai-team @agents-team
/packages/agent_forge/core/ @ai-team @platform-team
/packages/agent_forge/phases/ @ai-team @research-team
/packages/agent_forge/integration/ @ai-team @infrastructure-team

# Specialized agents
/packages/agents/ @agents-team @ai-team
/packages/agents/specialized/ @agents-team @domain-experts
/packages/agents/core/ @agents-team @platform-team
/packages/agents/governance/ @agents-team @governance-team
/packages/agents/distributed/ @agents-team @distributed-team

# Agent coordination and orchestration
/packages/agents/core/agent_orchestration_system.py @agents-team @coordination-team

# ===========================
# RAG & Knowledge Systems
# ===========================

# RAG system architecture
/packages/rag/ @knowledge-team @ai-team
/packages/rag/core/ @knowledge-team @platform-team
/packages/rag/memory/ @knowledge-team @cognitive-team

# Knowledge graphs and Bayesian networks
/packages/rag/graph/ @knowledge-team @data-team
/packages/rag/analysis/ @knowledge-team @analytics-team

# Distributed RAG coordination
/packages/rag/distributed/ @knowledge-team @distributed-team
/packages/rag/integration/ @knowledge-team @integration-team

# Creativity and insight engines
/packages/rag/creativity/ @knowledge-team @research-team

# ===========================
# P2P & Communications
# ===========================

# P2P transport layer
/packages/p2p/ @p2p-team @networking-team
/packages/p2p/core/ @p2p-team @platform-team
/packages/p2p/bitchat/ @p2p-team @mobile-team
/packages/p2p/betanet/ @p2p-team @security-team
/packages/p2p/bridges/ @p2p-team @integration-team

# Communication protocols
/packages/p2p/protocols/ @p2p-team @protocol-team

# Network reliability and failover
/packages/p2p/resilience/ @p2p-team @reliability-team

# ===========================
# API, Gateway & Twin Services
# ===========================

# API gateway and routing
/packages/core/api/ @api-team @backend-team
/packages/core/gateway/ @api-team @platform-team

# Twin service (AI interaction layer)
/packages/core/twin/ @api-team @ai-team

# OpenAPI specifications and documentation
/docs/api/ @api-team @docs-team
docs/api/openapi.yaml @api-team @integration-team

# Rate limiting and authentication
/packages/core/api/middleware/ @api-team @security-team

# ===========================
# Frontend & User Experience
# ===========================

# Web frontend
/clients/web/ @frontend-team @ui-team
/clients/typescript/ @frontend-team @web-team

# Mobile applications
/clients/mobile/ @mobile-team @frontend-team
/clients/mobile/android/ @mobile-team @android-team
/clients/mobile/ios/ @mobile-team @ios-team

# CLI tools and developer experience
/bin/ @frontend-team @devops-team
/clients/python/ @frontend-team @backend-team

# ===========================
# Edge Computing & Mobile
# ===========================

# Edge device management
/packages/edge/ @edge-team @infrastructure-team
/packages/edge/core/ @edge-team @platform-team
/packages/edge/mobile/ @edge-team @mobile-team
/packages/edge/fog_compute/ @edge-team @distributed-team

# Digital twin and personal AI
/packages/edge/mobile/digital_twin_concierge.py @edge-team @ai-team @privacy-team

# Resource management and optimization
/packages/edge/mobile/resource_manager.py @edge-team @mobile-team @performance-team

# ===========================
# Testing & Quality Assurance
# ===========================

# Test infrastructure and frameworks
/tests/ @qa-team @platform-team
/tests/unit/ @qa-team @dev-team
/tests/integration/ @qa-team @integration-team
/tests/e2e/ @qa-team @frontend-team

# Performance and benchmark tests
/tests/benchmarks/ @qa-team @performance-team
/tests/performance/ @qa-team @performance-team

# Security testing
/tests/security/ @qa-team @security-team

# Validation scripts
/tests/validation/ @qa-team @validation-team

# ===========================
# Documentation & Processes
# ===========================

# Architecture and technical documentation
/docs/ @docs-team @platform-team
/docs/architecture/ @docs-team @architects
/docs/development/ @docs-team @dev-team

# Process documentation
/docs/process/ @docs-team @process-team
docs/process/Definition_of_Done.md @docs-team @qa-team @platform-team
docs/process/Deprecation_Policy.md @docs-team @platform-team @api-team

# Operations and deployment documentation
/docs/operations/ @docs-team @devops-team
/docs/deployment/ @docs-team @devops-team

# User guides and tutorials
/docs/guides/ @docs-team @ux-team

# ===========================
# Specialized Components
# ===========================

# Tokenomics and governance
/packages/core/tokenomics/ @tokenomics-team @governance-team @economics-team

# Compression and optimization
/packages/core/compression/ @compression-team @performance-team @ai-team

# Monitoring and observability
/packages/core/monitoring/ @monitoring-team @devops-team @reliability-team

# Analytics and metrics
/packages/core/analytics/ @analytics-team @data-team

# ===========================
# Language-Specific Components
# ===========================

# Rust components (BetaNet, performance-critical)
/clients/rust/ @rust-team @p2p-team
crates/ @rust-team @performance-team

# Python core (majority of codebase)
*.py @python-team @platform-team

# TypeScript/JavaScript
*.ts *.js *.tsx *.jsx @frontend-team @web-team

# Configuration files
*.yaml *.yml *.json @devops-team @platform-team
*.toml @python-team @devops-team

# Docker and containerization
Dockerfile* @devops-team @infrastructure-team
docker-compose*.yml @devops-team @platform-team

# Kubernetes and orchestration
*.k8s.yaml @devops-team @kubernetes-team
/deploy/helm/ @devops-team @kubernetes-team

# ===========================
# Critical Security Files
# ===========================

# Security-sensitive configuration
.env* @security-team @devops-team
**/security.yaml @security-team @platform-team
**/auth.yaml @security-team @identity-team

# Compliance and audit trails
**/compliance/ @security-team @compliance-team @legal-team
**/audit/ @security-team @compliance-team

# ===========================
# Performance Critical Components
# ===========================

# High-performance inference
/packages/core/inference/ @performance-team @ai-team
/packages/core/distributed_inference/ @performance-team @distributed-team

# Compression pipelines
/packages/agent_forge/phases/bitnet_compression.py @compression-team @ai-team
/packages/agent_forge/phases/final_compression.py @compression-team @performance-team

# P2P network performance
/packages/p2p/core/transport_manager.py @performance-team @p2p-team

# ===========================
# Research & Experimental
# ===========================

# Research implementations
/packages/core/experimental/ @research-team @ai-team
/packages/agent_forge/phases/quietstar.py @research-team @cognitive-team

# Cutting-edge AI techniques
/packages/agent_forge/phases/adas.py @research-team @architecture-team
/packages/rag/creativity/ @research-team @creativity-team

# ===========================
# Team Definitions
# ===========================
# @DNYoussef - Project owner and lead architect
# @platform-team - Core platform and infrastructure
# @security-team - Security, compliance, and privacy
# @data-team - Data management and persistence
# @ai-team - AI/ML algorithms and models
# @agents-team - Specialized agents and coordination
# @knowledge-team - RAG systems and knowledge graphs
# @p2p-team - P2P networking and communications
# @api-team - APIs, gateways, and service interfaces
# @frontend-team - User interfaces and client applications
# @edge-team - Edge computing and mobile optimization
# @qa-team - Testing, validation, and quality assurance
# @docs-team - Documentation and technical writing
# @devops-team - Deployment, operations, and CI/CD
# @performance-team - Performance optimization and benchmarking
# @research-team - Research implementations and experimental features

# Additional specialized teams:
# @infrastructure-team, @mobile-team, @distributed-team, @integration-team
# @governance-team, @privacy-team, @compliance-team, @legal-team
# @rust-team, @python-team, @web-team, @kubernetes-team
# @monitoring-team, @analytics-team, @reliability-team
# @architects, @domain-experts, @process-team

Implement key rotation and connection timing
  integrations/clients/rust/betanet/betanet-client/src/transport/chrome_fingerprint.rs
  integrations/clients/rust/betanet/betanet-client/src/transport/noise_tunnel.rs
Owners: @DNYoussef, @platform-team

test: add log streaming integration tests
  integrations/clients/fog-sdk/python/fog_client_original.py
  tests/fog/test_job_log_streaming.py
Owners: @python-team, @platform-team

feat: add mls group support with persistence
  integrations/bounties/betanet/crates/agent-fabric/Cargo.toml
  integrations/bounties/betanet/crates/agent-fabric/src/groups.rs
  integrations/bounties/betanet/crates/agent-fabric/src/lib.rs
  integrations/bounties/betanet/crates/agent-fabric/tests/integration_tests.rs
  integrations/clients/rust/agent-fabric/Cargo.toml
  integrations/clients/rust/agent-fabric/src/groups.rs
  integrations/clients/rust/agent-fabric/src/lib.rs
  integrations/clients/rust/agent-fabric/tests/integration_tests.rs
Owners: @python-team, @devops-team, @rust-team, @performance-team, @DNYoussef, @platform-team

feat: add datagram cla with privacy modes
  integrations/bounties/betanet/crates/betanet-cla/src/datagram.rs
  integrations/bounties/betanet/crates/betanet-cla/src/lib.rs
  integrations/bounties/betanet/crates/betanet-cla/src/privacy.rs
  integrations/bounties/betanet/crates/betanet-cla/src/stream.rs
  integrations/clients/rust/betanet-cla/src/datagram.rs
  integrations/clients/rust/betanet-cla/src/lib.rs
  integrations/clients/rust/betanet-cla/src/privacy.rs
  integrations/clients/rust/betanet-cla/src/stream.rs
Owners: @rust-team, @performance-team, @DNYoussef, @platform-team

Use bundle flags for priority and compute privacy penalty
  integrations/bounties/betanet/crates/betanet-dtn/src/lib.rs
  integrations/bounties/betanet/crates/betanet-dtn/src/sched/lyapunov.rs
  integrations/clients/rust/betanet-dtn/src/lib.rs
  integrations/clients/rust/betanet-dtn/src/sched/lyapunov.rs
Owners: @rust-team, @performance-team, @DNYoussef, @platform-team

test(storage): add durability and cleanup tests
  integrations/bounties/betanet/crates/betanet-dtn/Cargo.toml
  integrations/bounties/betanet/crates/betanet-dtn/src/storage.rs
  integrations/clients/rust/betanet-dtn/Cargo.toml
  integrations/clients/rust/betanet-dtn/src/storage.rs
  integrations/clients/rust/betanet-dtn/tests/storage_integration.rs
Owners: @python-team, @devops-team, @rust-team, @performance-team, @DNYoussef, @platform-team

Expose runtime and improve FFI safety
  integrations/clients/rust/betanet-ffi/Cargo.toml
  integrations/clients/rust/betanet-ffi/build.rs
  integrations/clients/rust/betanet-ffi/examples/error_example.c
  integrations/clients/rust/betanet-ffi/include/betanet.h
  integrations/clients/rust/betanet-ffi/src/common.rs
  integrations/clients/rust/betanet-ffi/src/htx.rs
  integrations/clients/rust/betanet-ffi/src/linter.rs
Owners: @python-team, @devops-team, @DNYoussef, @platform-team

Enable real QUIC MASQUE demo and TLS camouflage
  integrations/bounties/betanet/crates/betanet-htx/examples/echo_client.rs
  integrations/bounties/betanet/crates/betanet-htx/examples/echo_server.rs
  integrations/clients/rust/betanet-htx/examples/README.md
  integrations/clients/rust/betanet-htx/examples/echo_client.rs
  integrations/clients/rust/betanet-htx/examples/echo_server.rs
  integrations/clients/rust/betanet-htx/examples/htx_quic_masque_demo.rs
Owners: @rust-team, @performance-team, @DNYoussef, @platform-team, @docs-team

feat: enforce noise xk handshake
  integrations/bounties/betanet/crates/betanet-htx/Cargo.toml
  integrations/bounties/betanet/crates/betanet-htx/src/handshake.rs
  integrations/clients/rust/betanet-htx/Cargo.toml
  integrations/clients/rust/betanet-htx/src/handshake.rs
Owners: @python-team, @devops-team, @rust-team, @performance-team, @DNYoussef, @platform-team

Use ed25519-dalek for ticket signing and verification
  integrations/bounties/betanet/crates/betanet-htx/src/ticket.rs
  integrations/clients/rust/betanet-htx/src/ticket.rs
Owners: @rust-team, @performance-team, @DNYoussef, @platform-team

feat: add self-signed TLS defaults
  integrations/bounties/betanet/crates/betanet-htx/Cargo.toml
  integrations/bounties/betanet/crates/betanet-htx/src/tcp.rs
  integrations/clients/rust/betanet-htx/Cargo.toml
  integrations/clients/rust/betanet-htx/src/tcp.rs
Owners: @python-team, @devops-team, @rust-team, @performance-team, @DNYoussef, @platform-team

Integrate betanet-utls and add network-based template calibration
  integrations/bounties/betanet/crates/betanet-htx/Cargo.toml
  integrations/bounties/betanet/crates/betanet-htx/benches/camouflage.rs
  integrations/bounties/betanet/crates/betanet-htx/src/tls.rs
Owners: @python-team, @devops-team, @rust-team, @performance-team

feat: add section 11 compliance checks
  integrations/clients/rust/betanet-linter/src/checks.rs
  integrations/clients/rust/betanet-linter/src/checks/compliance.rs
Owners: @DNYoussef, @platform-team

Use secure RNG for keys and add stats query
  integrations/bounties/betanet/crates/betanet-mixnode/Cargo.toml
  integrations/bounties/betanet/crates/betanet-mixnode/src/crypto.rs
  integrations/bounties/betanet/crates/betanet-mixnode/src/lib.rs
  integrations/bounties/betanet/crates/betanet-mixnode/src/main.rs
  integrations/bounties/betanet/crates/betanet-mixnode/src/mixnode.rs
  integrations/bounties/betanet/crates/betanet-mixnode/src/sphinx.rs
  integrations/clients/rust/betanet-mixnode/Cargo.toml
  integrations/clients/rust/betanet-mixnode/src/crypto.rs
  integrations/clients/rust/betanet-mixnode/src/lib.rs
  integrations/clients/rust/betanet-mixnode/src/main.rs
  integrations/clients/rust/betanet-mixnode/src/mixnode.rs
  integrations/clients/rust/betanet-mixnode/src/sphinx.rs
Owners: @python-team, @devops-team, @rust-team, @performance-team, @DNYoussef, @platform-team

Add tests for routing and replay protection
  integrations/bounties/betanet/crates/betanet-mixnode/src/sphinx.rs
  integrations/bounties/betanet/crates/betanet-mixnode/tests/sphinx_packet_tests.rs
Owners: @rust-team, @performance-team

test: add VRF integration coverage
  integrations/bounties/betanet/crates/betanet-mixnode/src/vrf_delay.rs
  integrations/bounties/betanet/crates/betanet-mixnode/src/vrf_neighbor.rs
  integrations/bounties/betanet/crates/betanet-mixnode/tests/vrf_integration.rs
  integrations/clients/rust/betanet-mixnode/src/vrf_delay.rs
  integrations/clients/rust/betanet-mixnode/src/vrf_neighbor.rs
Owners: @rust-team, @performance-team, @DNYoussef, @platform-team

Implement real Chrome version fetch and TLS serialization
  config/build/Cargo.lock
  integrations/bounties/betanet/crates/betanet-utls/Cargo.toml
  integrations/bounties/betanet/crates/betanet-utls/src/bin/betanet-utls.rs
  integrations/bounties/betanet/crates/betanet-utls/src/lib.rs
  integrations/bounties/betanet/crates/betanet-utls/src/refresh.rs
  integrations/bounties/betanet/crates/betanet-utls/src/template.rs
  integrations/clients/rust/betanet-utls/Cargo.toml
  integrations/clients/rust/betanet-utls/src/bin/betanet-utls.rs
  integrations/clients/rust/betanet-utls/src/lib.rs
  integrations/clients/rust/betanet-utls/src/refresh.rs
  integrations/clients/rust/betanet-utls/src/template.rs
Owners: @platform-team, @devops-team, @security-team, @python-team, @rust-team, @performance-team, @DNYoussef

Implement BLE CLA and module wiring
  integrations/clients/rust/bitchat-cla/src/ble.rs
  integrations/clients/rust/bitchat-cla/src/lib.rs
Owners: @DNYoussef, @platform-team

Implement gossip, receipts, and split learning
  integrations/bounties/betanet/crates/federated/src/gossip.rs
  integrations/bounties/betanet/crates/federated/src/receipts.rs
  integrations/bounties/betanet/crates/federated/src/split.rs
  integrations/bounties/betanet/crates/federated/tests/unit_tests.rs
  integrations/clients/rust/federated/src/gossip.rs
  integrations/clients/rust/federated/src/receipts.rs
  integrations/clients/rust/federated/src/split.rs
  integrations/clients/rust/federated/tests/unit_tests.rs
Owners: @rust-team, @performance-team, @DNYoussef, @platform-team

Add QUIC connect implementation with ECH and datagram support
  integrations/bounties/betanet/crates/betanet-htx/Cargo.toml
  integrations/bounties/betanet/crates/betanet-htx/src/quic.rs
  integrations/bounties/betanet/crates/betanet-htx/tests/quic_datagram_echo.rs
Owners: @python-team, @devops-team, @rust-team, @performance-team

fix: correct phase imports in unified pipeline
  core/agent_forge/unified_pipeline.py
Owners: @python-team, @platform-team

test: check pretrain deps missing
  core/agent-forge/phases/cognate_pretrain/pretrain_three_models.py
  core/agent_forge/phases/cognate_pretrain/pretrain_three_models.py
  tests/agent_forge/test_pretrain_three_models_import_error.py
Owners: @python-team, @platform-team

Remove unified_pipeline_fixed and update imports
  core/agent-forge/unified_pipeline.py
  core/agent-forge/unified_pipeline_fixed.py
  core/agent_forge/unified_pipeline.py
  core/agent_forge/unified_pipeline_fixed.py
  docs/agent-forge/FINAL_RESTORATION_SUMMARY.md
  docs/agent-forge/USAGE_EXAMPLES.md
Owners: @python-team, @platform-team, @docs-team

feat(ui): make agent forge endpoints configurable
  ui/web/.env.example
  ui/web/README.md
  ui/web/src/components/admin/AgentForgeControl.tsx
  ui/web/vite.config.ts
Owners: @security-team, @devops-team, @DNYoussef, @platform-team, @docs-team

Integrate DSPy prompt optimization
  core/agent_forge/phases/quietstar.py
  core/agent_forge/phases/tool_persona_baking.py
  core/agent_forge/unified_pipeline.py
  docs/agent-forge/USAGE_EXAMPLES.md
Owners: @python-team, @platform-team, @docs-team

Implement QUIC transport connect and datagram tests
  integrations/bounties/betanet/crates/betanet-htx/Cargo.toml
  integrations/bounties/betanet/crates/betanet-htx/examples/echo_server.rs
  integrations/bounties/betanet/crates/betanet-htx/src/lib.rs
  integrations/bounties/betanet/crates/betanet-htx/src/quic.rs
  integrations/bounties/betanet/crates/betanet-htx/src/server.rs
  integrations/bounties/betanet/crates/betanet-htx/tests/quic_datagram.rs
Owners: @python-team, @devops-team, @rust-team, @performance-team

feat: Complete Dual-AI Integration with Gemini CLI + Claude Code
  CLAUDE.md
  docs/DUAL_AI_INTEGRATION_AUDIT_REPORT.md
  docs/DUAL_AI_WORKFLOW_SUCCESS_DOCUMENTATION.md
  docs/gemini_codebase_analysis_results.md
  docs/security/comprehensive_security_audit_report.md
  docs/security/security_monitoring_config.json
  docs/security/vulnerability_summary_and_remediation.md
Owners: @DNYoussef, @platform-team, @docs-team

feat: Add 100% theater-free analyzer components
  analyzer/analysis_orchestrator.py
  analyzer/enterprise/performance/performance-optimizer.js
  analyzer/performance/optimizer.py
Owners: @python-team, @platform-team, @DNYoussef
