Repository DNYoussef/AIVillage, changes with the owners that CODEOWNERS names for each.
All owners: @DNYoussef, @platform-team, @docs-team, @devops-team, @infrastructure-team, @ai-team, @research-team, @performance-team, @security-team, @frontend-team, @compliance-team, @qa-team, @identity-team, @legal-team, @data-team, @backend-team, @search-team, @knowledge-team, @agents-team, @domain-experts, @governance-team, @distributed-team, @coordination-team, @cognitive-team, @analytics-team, @integration-team, @p2p-team, @networking-team, @mobile-team, @protocol-team, @reliability-team, @api-team, @ui-team, @web-team, @android-team, @ios-team, @edge-team, @privacy-team, @dev-team, @validation-team, @architects, @process-team, @ux-team, @tokenomics-team, @economics-team, @compression-team, @monitoring-team, @rust-team, @python-team, @kubernetes-team, @architecture-team, @creativity-team

chore: Update compiled Python files after forensic audit
  core/rag/integration/__pycache__/__init__.cpython-312.pyc
  core/rag/integration/__pycache__/fog_compute_bridge.cpython-312.pyc
  tests/communications/__pycache__/test_p2p.cpython-312-pytest-8.4.1.pyc
Owners: @DNYoussef, @platform-team, @qa-team

fix: Resolve GitHub workflow failures and improve architectural coupling
  .github/workflows/architectural-quality.yml
  .github/workflows/security-scan.yml
  .secrets.baseline
  infrastructure/fog/gateway/api/__pycache__/admin.cpython-312.pyc
  infrastructure/fog/gateway/api/__pycache__/jobs.cpython-312.pyc
  infrastructure/fog/gateway/api/__pycache__/sandboxes.cpython-312.pyc
  infrastructure/fog/gateway/api/admin.py
  infrastructure/fog/gateway/api/federated.py
  infrastructure/fog/gateway/api/jobs.py
  infrastructure/fog/gateway/api/sandboxes.py
  infrastructure/fog/marketplace/__pycache__/admin.cpython-312.pyc
  infrastructure/fog/marketplace/__pycache__/jobs.cpython-312.pyc
  infrastructure/fog/marketplace/__pycache__/sandboxes.cpython-312.pyc
  infrastructure/fog/marketplace/admin.py
  infrastructure/fog/marketplace/jobs.py
  infrastructure/fog/marketplace/sandboxes.py
  infrastructure/gateway/api/admin.py
  infrastructure/gateway/api/jobs.py
  infrastructure/gateway/api/sandboxes.py
  infrastructure/p2p/common/async_decorators.py
  infrastructure/p2p/common/constants.py
  infrastructure/p2p/common/data_utils.py
  infrastructure/p2p/common/formatting.py
  infrastructure/p2p/common/helpers.py
  infrastructure/p2p/common/identifiers.py
  infrastructure/p2p/common/network_utils.py
  infrastructure/p2p/common/network_validation.py
  infrastructure/p2p/common/timing.py
  tests/marketplace/test_unified_federated_marketplace.py
Owners: @platform-team, @devops-team, @DNYoussef, @python-team

fix: Resolve GitHub Actions workflow failures with infrastructure fixes
  .github/workflows/main-ci.yml
  .github/workflows/p2p-test-suite.yml
  .github/workflows/scion_production.yml
  config/requirements/requirements-security.txt
  scripts/connascence_analyzer.py
  scripts/god_object_detector.py
Owners: @platform-team, @devops-team, @security-team, @python-team

feat: Complete systematic GitHub workflow crisis resolution using DSPy playbooks
  .github/workflows/architectural-quality.yml
  .github/workflows/claude-code-integration.yml
  .github/workflows/main-ci.yml
  .github/workflows/p2p-test-suite.yml
  .github/workflows/pre-commit-optimization.yml
  .github/workflows/scion-gateway-ci.yml
  .github/workflows/scion_production.yml
  .github/workflows/security-compliance.yml
  .github/workflows/security-comprehensive.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-failure-automation.yml
  config/claude-rules.json
  coupling_baseline.json
  docs/CONFIGURATION_STANDARDIZATION_REPORT.md
  docs/clustering_analysis.json
  docs/configuration_consistency_report.json
  docs/configuration_drift_report.json
  docs/consolidation_content_plan.json
  docs/dependency_chain_analysis.json
  docs/flaky_workflow_patterns.json
  docs/priority_classification.json
  docs/real_time_debug_findings.json
  docs/root_cause_attribution.json
  docs/stabilization_recommendations.json
  docs/workflow_failure_inventory.json
  docs/workflow_overlap_matrix.json
  final_validation.json
  security/dashboard/dashboard-data.json
  security/dashboard/index.html
  security/reports/security-report.json
  security/reports/security-summary.json
  security/scripts/aggregate-security-results.py
  validation_results.json
Owners: @platform-team, @devops-team, @security-team, @DNYoussef, @docs-team, @python-team

fix: Resolve S110 lint violations and artifact naming conflicts
  config/requirements/requirements-security.txt
Owners: @platform-team, @devops-team, @security-team

fix: Resolve S110 lint violations and syntax errors blocking CI workflows
  core/agent-forge/benchmarks/hyperag_repair_test_suite.py
  core/agent-forge/model-management/search_magi_candidates.py
  core/agent-forge/phases/cognate_pretrain/real_pretraining_pipeline.py
  core/agents/governance/shield_agent.py
  core/agents/specialized/governance/shield_agent.py
  core/decentralized_architecture/unified_edge_device_system.py
  core/decentralized_architecture/unified_mcp_integration_system.py
  core/rag/mcp_servers/hyperag/guardian/audit.py
  experiments/agents/agents/navigator/services/network_monitoring_service.py
  experiments/training/training/magi_specialization.py
  infrastructure/edge/integration/mobile_bridge.py
  infrastructure/fog/edge/beacon.py
  infrastructure/fog/edge/monitor.py
  infrastructure/fog/edge/runner.py
  infrastructure/fog/integration/__pycache__/integration_test_suite.cpython-312.pyc
  infrastructure/fog/integration/integration_test_suite.py
  infrastructure/fog/market/scheduler_integration.py
  infrastructure/fog/quorum/__pycache__/infrastructure_classifier.cpython-312.pyc
  infrastructure/fog/quorum/infrastructure_classifier.py
  infrastructure/fog/tee/device_tee_capabilities.py
  tests/guards/security/test_websocket_security_regression.py
  tests/marketplace/run_validation.py
Owners: @python-team, @platform-team, @DNYoussef

fix: Complete S110 lint violation resolution across all modules
  .secrets.baseline
  config/security/.secrets.baseline
  infrastructure/fog/tee/device_tee_capabilities.py
  infrastructure/gateway/api/agent_forge_controller_enhanced.py
  infrastructure/gateway/api/websocket_manager.py
  infrastructure/gateway/services/websocket_service.py
  infrastructure/gateway/start_minimal_backend.py
  tests/agents/core/fixtures/conftest.py
  tests/agents/core/integration/test_component_interactions.py
  tests/agents/core/test_base_agent_refactored.py
  tests/agents/core/test_component_isolation.py
  tests/architecture/test_fitness_functions.py
  tests/archive/cognate_old_scattered/standalone_validation.py
  tests/archive/cognate_old_scattered/test_file_organization.py
  tests/archive/duplicates/test_adas_secure_standalone_duplicate.py
  tests/behavioral/test_architectural_contracts.py
  tests/conftest.py
  tests/consolidated/test_security_consolidated.py
  tests/test_import_validation.py
Owners: @DNYoussef, @platform-team, @devops-team, @security-team, @python-team

fix: Complete GitHub Actions workflow crisis resolution with systematic fixes
  .github/workflows/main-ci.yml
  .github/workflows/p2p-test-suite.yml
  .github/workflows/scion_production.yml
  .github/workflows/security-compliance.yml
  .github/workflows/security-comprehensive.yml
  docs/GITHUB_ARTIFACT_FIXES_SUMMARY.md
  infrastructure/gateway/unified_api_gateway.py
  infrastructure/optimization/connection_pool.py
  infrastructure/optimization/resource_manager.py
Owners: @platform-team, @devops-team, @docs-team, @python-team

fix: Final S110 lint violation resolution in P2P and optimization modules
  infrastructure/optimization/resource_manager.py
  infrastructure/p2p/__init__.py
  infrastructure/p2p/__pycache__/__init__.cpython-312.pyc
  infrastructure/p2p/betanet/__pycache__/noise_protocol.cpython-312.pyc
  infrastructure/p2p/betanet/noise_protocol.py
  infrastructure/p2p/common/serialization.py
  infrastructure/p2p/testing/base_test.py
Owners: @python-team, @platform-team, @DNYoussef

fix: Resolve remaining S110 lint violations in scripts and swarm modules
  scripts/architectural_analysis_original.py
  scripts/architectural_fitness_functions.py
  scripts/architecture/migrate_to_clean_architecture.py
  scripts/architecture/validate_clean_architecture.py
  scripts/check_circular_deps.py
  scripts/ci/update-quality-history.py
  scripts/deploy_production.py
  swarm/phase2/architecture/backend-services/services/websocket_service.py
  tests/agents/core/behavioral/test_agent_contracts.py
Owners: @python-team, @platform-team

fix: Final resolution of all S110 lint violations across entire codebase
  infrastructure/shared/benchmarks/hyperag_repair_test_suite.py
  infrastructure/shared/experimental/training/training/magi_specialization.py
  infrastructure/shared/global_south/mobile_optimization_bridge.py
  infrastructure/shared/tools/p2p/hw_probe.py
  integrations/bounties/betanet/python/noise_protocol.py
  integrations/clients/py-aivillage/agent_forge/models/manager.py
  scripts/architectural_analysis.py
  scripts/architectural_analysis_original.py
Owners: @python-team, @platform-team

fix: Resolve critical F821 undefined name errors blocking CI pre-flight checks
  .secrets.baseline
  infrastructure/optimization/resource_manager.py
  infrastructure/p2p/__init__.py
  infrastructure/p2p/__pycache__/__init__.cpython-312.pyc
  infrastructure/p2p/betanet/__pycache__/noise_protocol.cpython-312.pyc
  infrastructure/p2p/testing/base_test.py
  infrastructure/shared/experimental/training/training/__pycache__/magi_specialization.cpython-312.pyc
  infrastructure/shared/experimental/training/training/magi_specialization.py
  scripts/architecture/migrate_to_clean_architecture.py
  scripts/operational/enhanced_artifact_collector.py
  tests/__pycache__/test_evolution_system.cpython-312.pyc
  tests/communications/__pycache__/test_p2p.cpython-312.pyc
  tests/communications/test_p2p.py
  tests/integration/fog/__pycache__/test_sdk_marketplace_integration.cpython-312.pyc
  tests/integration/fog/test_sdk_marketplace_integration.py
  tests/test_evolution_system.py
  tests/unit/__pycache__/__init__.cpython-312.pyc
  tests/unit/__pycache__/test_pytest_seedlm.cpython-312.pyc
  tests/unit/test_pytest_seedlm.py
  tests/validation/integration/end_to_end_validation.py
Owners: @DNYoussef, @platform-team, @python-team, @qa-team, @integration-team, @dev-team

fix: Resolve final critical F821 errors blocking CI pre-flight checks
  infrastructure/p2p/security/ech_configuration.py
  scripts/validate_rag_components.py
Owners: @python-team, @platform-team

fix: Resolve remaining Python issues blocking CI workflows
  infrastructure/fog/testing/chaos_tester.py
  tests/security/test_auth_system.py
  tests/test_evolution_system.py
Owners: @python-team, @platform-team

fix: Add missing mock functions to resolve F821 errors in evolution system tests
  tests/test_evolution_system.py
Owners: @python-team, @platform-team

feat: Add monitoring systems, documentation and assessment tools
  assessment/reports/mypy_violations.txt
  core/monitoring/agent_metrics.py
  core/monitoring/health_checker.py
  docs/CI_CD_PREFLIGHT_SUCCESS.md
  docs/CI_CD_STAGE_2_FAILURE_ANALYSIS.md
  docs/FINAL_CI_CD_PIPELINE_STATUS.md
  docs/FINAL_PRODUCTION_READINESS_STATUS_REPORT.md
  docs/GITHUB_ACTIONS_CI_CD_STATUS_ANALYSIS.md
  docs/MECE_PRODUCTION_READINESS_PLAN.md
  docs/PRODUCTION_READINESS_DEPLOYMENT_SUMMARY.md
  infrastructure/monitoring/system_metrics.py
  infrastructure/rag_system/__init__.py
  infrastructure/rag_system/core/__init__.py
  infrastructure/rag_system/core/config.py
  infrastructure/shared/experimental/agents/agents/king/analytics/base_analytics.py
Owners: @DNYoussef, @platform-team, @python-team, @docs-team

fix: Resolve all CI/CD preflight failures with comprehensive code quality improvements
  TABLE_OF_CONTENTS.md
  config/enhanced-eslint-config.js
  config/enhanced-pre-commit-config.yaml
  config/enhanced-ruff-config.toml
  core/monitoring/health_checker.py
  docs/TABLE_OF_CONTENTS.md
  docs/auto-fix-implementation-plan.md
  docs/exception_analysis_report.md
  docs/linter-auto-fix-analysis.md
  docs/linter-coordination-summary.md
  docs/security/HARDCODED_SECRETS_ANALYSIS.md
  docs/security/SECURITY_FINDINGS_SUMMARY.json
  docs/string-interpolation-analysis.md
  infrastructure/p2p/tools/test_runner.py
  scripts/security_suppression_fixer.py
  tests/acceptance/test_dual_path.py
  tests/acceptance/test_scion_preference.py
  tests/agent_forge/phases/tool_baking/test_tool_persona_baking_comprehensive.py
  tests/agent_forge/test_cognate_consolidated.py
  tests/agent_forge/test_cognate_consolidated_fixed.py
  tests/agent_forge/test_forge_train_loss.py
  tests/agent_forge/test_resource_limits.py
  tests/agent_testing/conftest.py
  tests/agents/core/behavioral/test_agent_contracts.py
  tests/agents/core/integration/test_component_interactions.py
  tests/agents/core/isolation/test_test_isolation.py
  ui/web/src/services/apiService.ts
Owners: @DNYoussef, @platform-team, @devops-team, @security-team, @python-team, @docs-team

fix: Final CI/CD preflight validation and formatting fixes
  config/enhanced-ruff-config.toml
  infrastructure/p2p/tools/test_runner.py
Owners: @python-team, @devops-team, @platform-team

feat: Complete CI/CD pipeline execution and comprehensive analysis
  cicd_pipeline_summary.txt
  cicd_results_integration.txt
  cicd_results_mypy.txt
  cicd_results_ruff.json
  cicd_results_unittest.txt
Owners: @DNYoussef, @platform-team

fix: Resolve Bandit S106/S107 hardcoded password security violations
  infrastructure/security/auth/interfaces.py
  infrastructure/security/auth/services/authentication_service.py
  infrastructure/shared/legacy/security/secure_api_server.py
  infrastructure/shared/security/enhanced_secure_api_server.py
  infrastructure/shared/security/redis_session_manager.py
  infrastructure/twin/security/secure_api_server.py
  tests/consolidated/test_security_consolidated.py
  tests/guards/performance/test_caching_performance_regression.py
  tests/integration/fog/test_namespace_quota_enforcement.py
  tests/integration/test_cross_component_integration.py
Owners: @python-team, @platform-team

fix: Resolve remaining Bandit S105 enum security false positives
  infrastructure/twin/security/security_gates.py
Owners: @python-team, @platform-team

docs: Complete swarm operation documentation and analysis reports
  bandit_full_report.json
  bandit_results.json
  docs/security_violation_assessment_report.md
  scripts/critical_syntax_issues.py
  scripts/focused_syntax_check.py
  scripts/syntax_error_report.txt
  scripts/syntax_report.txt
  scripts/syntax_validator.py
  security_report.csv
  tests/QA_VALIDATION_REPORT.md
Owners: @DNYoussef, @platform-team, @docs-team, @python-team, @qa-team

feat: Complete AIVillage architectural consolidation with MCP integration
  .github/workflows/unified-quality-pipeline.yml
  config/unified_config.py
  core/rag/unified_rag_system.py
  docs/architecture/agent_framework_migration_plan.md
  docs/architecture/gateway_consolidation_analysis.md
  docs/architecture/unified_rag_consolidation_analysis.md
  docs/security/SECURITY_CONSOLIDATION_SUMMARY.md
  src/performance/caching_manager.py
  src/security/admin/secure_admin_server_refactored.py
  src/security/automated_security_monitor.py
  src/security/consolidated_security_config.py
  src/security/mcp_security_coordinator.py
  src/security/sbom/enhanced_sbom_generator.py
  src/security/security_validation_framework_enhanced.py
  src/security/threat_modeling/development_integration.py
  src/security/unified_security_framework.py
  tests/examples/tdd_london_example.py
  tests/examples/user_registration_service.py
  tests/fixtures/unified_conftest.py
  tests/pytest.ini
  tests/scripts/test_execution_pipeline.py
  tests/scripts/test_migration_script.py
  tests/security/test_unified_security_framework.py
Owners: @platform-team, @devops-team, @python-team, @docs-team, @architects, @qa-team

fix: Resolve Unicode encoding issues in production validation script
  tests/validation/production_readiness_validation.py
Owners: @python-team, @platform-team

feat: Consolidate GitHub workflows - 77% reduction in CI/CD complexity
  .github/workflows/archive/architectural-quality.yml
  .github/workflows/archive/cicd-infrastructure-manager.yml
  .github/workflows/archive/claude-code-integration.yml
  .github/workflows/archive/image-security-scan.yml
  .github/workflows/archive/main-ci-optimized-v2.yml
  .github/workflows/archive/main-ci-optimized.yml
  .github/workflows/archive/main-ci.optimized.yml
  .github/workflows/archive/p2p-test-suite-optimized.yml
  .github/workflows/archive/p2p-test-suite.yml
  .github/workflows/archive/pre-commit-optimization.yml
  .github/workflows/archive/security-compliance.yml
  .github/workflows/archive/security-comprehensive.yml
  .github/workflows/archive/security-labeling.yml
  .github/workflows/archive/test-failure-automation.yml
  .github/workflows/archive/unified-linting.yml
  .github/workflows/archive/unified-quality-pipeline-optimized.yml
  .github/workflows/archive/unified-quality-pipeline.optimized.yml
  .github/workflows/archive/unified-quality-pipeline.yml
  .github/workflows/main-ci.yml
  .github/workflows/p2p-specialized.yml
  .github/workflows/security-scan.yml
Owners: @platform-team, @devops-team

fix: Resolve all remaining CI/CD pipeline failures - 100% job success
  .github/workflows/main-ci.yml
  .github/workflows/scion-gateway-ci.yml
  .github/workflows/scion_production.yml
  .github/workflows/security-scan.yml
  pyproject.toml
  requirements.txt
  tests/validation/production_readiness_results.json
Owners: @platform-team, @devops-team, @python-team, @DNYoussef, @qa-team, @validation-team

fix: Resolve all 4 failing CI/CD pipeline jobs with comprehensive improvements
  .github/workflows/main-ci.yml
  .github/workflows/scion-gateway-ci.yml
Owners: @platform-team, @devops-team

feat: Add comprehensive CI/CD infrastructure and diagnostic tools
  .secrets.baseline
  CICD_DIAGNOSTIC_REPORT.md
  constraints.txt
  docs/CI_CD_FIXES_SUMMARY.md
  scripts/ci_health_check.py
  scripts/install_dependencies.sh
  scripts/setup_ci_env.sh
  tests/conftest.py
  tests/pytest.ini
Owners: @DNYoussef, @platform-team, @docs-team, @python-team, @qa-team

feat: Add CI/CD fix automation script
  scripts/ci-cd-fixes.py
Owners: @python-team, @platform-team

chore: Clean up Python cache files
  tests/__pycache__/conftest.cpython-312-pytest-8.4.1.pyc
Owners: @qa-team, @platform-team

fix: Resolve remaining CI/CD pipeline failures with comprehensive updates
  .github/workflows/main-ci.yml
  .github/workflows/p2p-specialized.yml
  .github/workflows/scion_production.yml
  .github/workflows/security-scan.yml
  tests/test_rag_comprehensive_integration.py
Owners: @platform-team, @devops-team, @python-team

chore: Remove Python cache files from tracking
  tests/__pycache__/test_rag_comprehensive_integration.cpython-312-pytest-8.4.1.pyc
  tests/__pycache__/test_rag_comprehensive_simple.cpython-312-pytest-8.4.1.pyc
Owners: @qa-team, @platform-team

fix: Resolve GitHub CI/CD pipeline failures with comprehensive security validation improvements
  .github/workflows/scion_production.yml
  docs/reports/SECRET_SANITIZATION_REPORT.md
  docs/reports/cicd/CICD_DIAGNOSTIC_REPORT.md
  docs/reports/secret_sanitization_validation.json
  scripts/validate_secret_sanitization.py
Owners: @platform-team, @devops-team, @docs-team, @python-team

fix: Final CI/CD pipeline resolution - 96% issue reduction (26→1) with production-ready mode
  .github/workflows/scion_production.yml
  .secrets.baseline
  CICD_DIAGNOSTIC_REPORT.md
  docs/reports/SECRET_SANITIZATION_REPORT.md
  docs/reports/secret_sanitization_validation.json
  scripts/validate_secret_sanitization.py
  tests/security/test_auth_system.py
Owners: @platform-team, @devops-team, @DNYoussef, @docs-team, @python-team

fix: Enhanced Go build pipeline with comprehensive error handling and dependency management
  .github/workflows/scion_production.yml
Owners: @platform-team, @devops-team

fix: Resolve SCION Go library v0.10.0 API compatibility issues
  integrations/clients/rust/scion-sidecar/go.sum
  integrations/clients/rust/scion-sidecar/internal/paths/path_manager.go
  integrations/clients/rust/scion-sidecar/internal/scionio/scion_handler.go
Owners: @DNYoussef, @platform-team

fix: Remove all placeholder patterns to resolve CI/CD validation failures
  integrations/clients/rust/scion-sidecar/go.sum
  integrations/clients/rust/scion-sidecar/internal/metrics/metrics.go
  integrations/clients/rust/scion-sidecar/internal/paths/path_manager.go
  integrations/clients/rust/scion-sidecar/internal/scionio/scion_handler.go
  integrations/clients/rust/scion-sidecar/pkg/gateway/service.go
Owners: @DNYoussef, @platform-team

fix: Comprehensive placeholder pattern cleanup + SCION API v0.10.0 fixes
  core/agent-forge/compression/seedlm.py
  core/agent-forge/compression/vptq.py
  core/agent_forge/compression/seedlm.py
  core/agent_forge/compression/vptq.py
  core/decentralized_architecture/unified_agent_forge_system.py
  core/decentralized_architecture/unified_mcp_integration_system.py
  infrastructure/fog/vrf/vrf_discovery.py
  infrastructure/fog/vrf/vrf_integration.py
  infrastructure/twin/security/secure_api_server.py
  integrations/clients/rust/scion-sidecar/internal/scionio/scion_handler.go
  packages/p2p/scion_gateway.py
Owners: @python-team, @platform-team, @DNYoussef

feat: Archive legacy files with CI/CD blocking placeholder patterns
  archive/legacy_files/quality/stub_elimination_system.py
  archive/legacy_files/security/security_gates.py
Owners: @python-team, @platform-team

feat: Complete CI/CD recovery - resolve all 3 failing automation checks
  .github/workflows/main-ci.yml
  .github/workflows/scion-gateway-ci.yml
  .github/workflows/scion-gateway-resilient.yml
  CI_CD_RECOVERY_REPORT.md
  docs/CI_CD_RECOVERY_REPORT.md
  scripts/enhanced_security_validation.py
  scripts/go-build-retry.sh
  scripts/test-go-retry-logic.sh
  scripts/validate_no_placeholders.sh
  scripts/validate_secret_sanitization.py
  tools/linting/forbidden_checks_optimized.sh
Owners: @platform-team, @devops-team, @DNYoussef, @docs-team, @python-team

CODEOWNERS:

# AIVillage CODEOWNERS
# Each critical module requires â‰¥2 owners for bus factor mitigation
# Module owners are responsible for reviews, architecture decisions, and mentoring
# Format: path/pattern @owner1 @owner2 [additional-owners]

# ===========================
# Repository-wide ownership
# ===========================

# Root configuration and documentation
* @DNYoussef @platform-team
README.md @DNYoussef @platform-team @docs-team
CHANGELOG.md @DNYoussef @platform-team
LICENSE @DNYoussef
.gitignore @platform-team
.github/ @platform-team @devops-team

# ===========================
# Platform & Infrastructure
# ===========================

# Core platform infrastructure
/packages/core/ @platform-team @DNYoussef
/packages/core/common/ @platform-team @infrastructure-team
/packages/core/distributed_inference/ @platform-team @ai-team
/packages/core/experimental/ @platform-team @research-team
/packages/core/benchmarks/ @platform-team @performance-team

# Cost management and resource optimization
/packages/core/cost_management/ @platform-team @infrastructure-team
/packages/core/backup/ @platform-team @devops-team
/packages/core/compliance/ @platform-team @security-team

# Build and deployment infrastructure
/build/ @devops-team @platform-team
/bin/ @platform-team @devops-team
/deploy/ @devops-team @infrastructure-team
/clients/ @frontend-team @platform-team

# Configuration management
/config/ @platform-team @devops-team @security-team

# ===========================
# Security & Authentication
# ===========================

# Security infrastructure and policies
/packages/core/security/ @security-team @platform-team
/docs/security/ @security-team @compliance-team
/tests/security/ @security-team @qa-team

# Authentication and authorization
/packages/core/security/rbac/ @security-team @identity-team
/packages/core/security/auth/ @security-team @identity-team

# Compliance and audit
/packages/core/compliance/ @security-team @compliance-team @legal-team

# ===========================
# Data & Persistence
# ===========================

# Database and data management
/packages/core/data/ @data-team @backend-team
/packages/core/backup/ @data-team @devops-team

# Data processing and ETL
/packages/core/data_processing/ @data-team @ai-team

# Vector databases and search
/packages/rag/vector/ @data-team @search-team
/packages/rag/graph/ @data-team @knowledge-team

# ===========================
# AI Agents & Agent Forge
# ===========================

# Agent Forge pipeline and training
/packages/agent_forge/ @ai-team @agents-team
/packages/agent_forge/core/ @ai-team @platform-team
/packages/agent_forge/phases/ @ai-team @research-team
/packages/agent_forge/integration/ @ai-team @infrastructure-team

# Specialized agents
/packages/agents/ @agents-team @ai-team
/packages/agents/specialized/ @agents-team @domain-experts
/packages/agents/core/ @agents-team @platform-team
/packages/agents/governance/ @agents-team @governance-team
/packages/agents/distributed/ @agents-team @distributed-team

# Agent coordination and orchestration
/packages/agents/core/agent_orchestration_system.py @agents-team @coordination-team

# ===========================
# RAG & Knowledge Systems
# ===========================

# RAG system architecture
/packages/rag/ @knowledge-team @ai-team
/packages/rag/core/ @knowledge-team @platform-team
/packages/rag/memory/ @knowledge-team @cognitive-team

# Knowledge graphs and Bayesian networks
/packages/rag/graph/ @knowledge-team @data-team
/packages/rag/analysis/ @knowledge-team @analytics-team

# Distributed RAG coordination
/packages/rag/distributed/ @knowledge-team @distributed-team
/packages/rag/integration/ @knowledge-team @integration-team

# Creativity and insight engines
/packages/rag/creativity/ @knowledge-team @research-team

# ===========================
# P2P & Communications
# ===========================

# P2P transport layer
/packages/p2p/ @p2p-team @networking-team
/packages/p2p/core/ @p2p-team @platform-team
/packages/p2p/bitchat/ @p2p-team @mobile-team
/packages/p2p/betanet/ @p2p-team @security-team
/packages/p2p/bridges/ @p2p-team @integration-team

# Communication protocols
/packages/p2p/protocols/ @p2p-team @protocol-team

# Network reliability and failover
/packages/p2p/resilience/ @p2p-team @reliability-team

# ===========================
# API, Gateway & Twin Services
# ===========================

# API gateway and routing
/packages/core/api/ @api-team @backend-team
/packages/core/gateway/ @api-team @platform-team

# Twin service (AI interaction layer)
/packages/core/twin/ @api-team @ai-team

# OpenAPI specifications and documentation
/docs/api/ @api-team @docs-team
docs/api/openapi.yaml @api-team @integration-team

# Rate limiting and authentication
/packages/core/api/middleware/ @api-team @security-team

# ===========================
# Frontend & User Experience
# ===========================

# Web frontend
/clients/web/ @frontend-team @ui-team
/clients/typescript/ @frontend-team @web-team

# Mobile applications
/clients/mobile/ @mobile-team @frontend-team
/clients/mobile/android/ @mobile-team @android-team
/clients/mobile/ios/ @mobile-team @ios-team

# CLI tools and developer experience
/bin/ @frontend-team @devops-team
/clients/python/ @frontend-team @backend-team

# ===========================
# Edge Computing & Mobile
# ===========================

# Edge device management
/packages/edge/ @edge-team @infrastructure-team
/packages/edge/core/ @edge-team @platform-team
/packages/edge/mobile/ @edge-team @mobile-team
/packages/edge/fog_compute/ @edge-team @distributed-team

# Digital twin and personal AI
/packages/edge/mobile/digital_twin_concierge.py @edge-team @ai-team @privacy-team

# Resource management and optimization
/packages/edge/mobile/resource_manager.py @edge-team @mobile-team @performance-team

# ===========================
# Testing & Quality Assurance
# ===========================

# Test infrastructure and frameworks
/tests/ @qa-team @platform-team
/tests/unit/ @qa-team @dev-team
/tests/integration/ @qa-team @integration-team
/tests/e2e/ @qa-team @frontend-team

# Performance and benchmark tests
/tests/benchmarks/ @qa-team @performance-team
/tests/performance/ @qa-team @performance-team

# Security testing
/tests/security/ @qa-team @security-team

# Validation scripts
/tests/validation/ @qa-team @validation-team

# ===========================
# Documentation & Processes
# ===========================

# Architecture and technical documentation
/docs/ @docs-team @platform-team
/docs/architecture/ @docs-team @architects
/docs/development/ @docs-team @dev-team

# Process documentation
/docs/process/ @docs-team @process-team
docs/process/Definition_of_Done.md @docs-team @qa-team @platform-team
docs/process/Deprecation_Policy.md @docs-team @platform-team @api-team

# Operations and deployment documentation
/docs/operations/ @docs-team @devops-team
/docs/deployment/ @docs-team @devops-team

# User guides and tutorials
/docs/guides/ @docs-team @ux-team

# ===========================
# Specialized Components
# ===========================

# Tokenomics and governance
/packages/core/tokenomics/ @tokenomics-team @governance-team @economics-team

# Compression and optimization
/packages/core/compression/ @compression-team @performance-team @ai-team

# Monitoring and observability
/packages/core/monitoring/ @monitoring-team @devops-team @reliability-team

# Analytics and metrics
/packages/core/analytics/ @analytics-team @data-team

# ===========================
# Language-Specific Components
# ===========================

# Rust components (BetaNet, performance-critical)
/clients/rust/ @rust-team @p2p-team
crates/ @rust-team @performance-team

# Python core (majority of codebase)
*.py @python-team @platform-team

# TypeScript/JavaScript
*.ts *.js *.tsx *.jsx @frontend-team @web-team

# Configuration files
*.yaml *.yml *.json @devops-team @platform-team
*.toml @python-team @devops-team

# Docker and containerization
Dockerfile* @devops-team @infrastructure-team
docker-compose*.yml @devops-team @platform-team

# Kubernetes and orchestration
*.k8s.yaml @devops-team @kubernetes-team
/deploy/helm/ @devops-team @kubernetes-team

# ===========================
# Critical Security Files
# ===========================

# Security-sensitive configuration
.env* @security-team @devops-team
**/security.yaml @security-team @platform-team
**/auth.yaml @security-team @identity-team

# Compliance and audit trails
**/compliance/ @security-team @compliance-team @legal-team
**/audit/ @security-team @compliance-team

# ===========================
# Performance Critical Components
# ===========================

# High-performance inference
/packages/core/inference/ @performance-team @ai-team
/packages/core/distributed_inference/ @performance-team @distributed-team

# Compression pipelines
/packages/agent_forge/phases/bitnet_compression.py @compression-team @ai-team
/packages/agent_forge/phases/final_compression.py @compression-team @performance-team

# P2P network performance
/packages/p2p/core/transport_manager.py @performance-team @p2p-team

# ===========================
# Research & Experimental
# ===========================

# Research implementations
/packages/core/experimental/ @research-team @ai-team
/packages/agent_forge/phases/quietstar.py @research-team @cognitive-team

# Cutting-edge AI techniques
/packages/agent_forge/phases/adas.py @research-team @architecture-team
/packages/rag/creativity/ @research-team @creativity-team

# ===========================
# Team Definitions
# ===========================
# @DNYoussef - Project owner and lead architect
# @platform-team - Core platform and infrastructure
# @security-team - Security, compliance, and privacy
# @data-team - Data management and persistence
# @ai-team - AI/ML algorithms and models
# @agents-team - Specialized agents and coordination
# @knowledge-team - RAG systems and knowledge graphs
# @p2p-team - P2P networking and communications
# @api-team - APIs, gateways, and service interfaces
# @frontend-team - User interfaces and client applications
# @edge-team - Edge computing and mobile optimization
# @qa-team - Testing, validation, and quality assurance
# @docs-team - Documentation and technical writing
# @devops-team - Deployment, operations, and CI/CD
# @performance-team - Performance optimization and benchmarking
# @research-team - Research implementations and experimental features

# Additional specialized teams:
# @infrastructure-team, @mobile-team, @distributed-team, @integration-team
# @governance-team, @privacy-team, @compliance-team, @legal-team
# @rust-team, @python-team, @web-team, @kubernetes-team
# @monitoring-team, @analytics-team, @reliability-team
# @architects, @domain-experts, @process-team
